/*DIVULGACAO*/

.divulgacaoPag .main{
    position: relative;
    background-color: #F7FAFC;

}

/*.paginaTema .divulgacaoTitulo{
    margin-top: 2%;
    font-size: 4vw;
    text-align: center;
    font-family: "Raleway ExtraBold";
}*/

/*titulo*/

.divulgacaoPag .zona {
    padding-top: 10%;
    padding-bottom: 10%;
    width: auto;
    background-color: #F7FAFC;
}

.divulgacaoPag .topo h1 {
    color: var(--geral-cor1);
    font-family: "Raleway ExtraBold";
    font-size: 4.3vw;
    font-weight: 900;
    line-height: 5.5vw;
    text-align: center;
    margin-bottom: 5%;
}

.divulgacaoPag .topo p {
    width: 50%;
    color: var(--geral-cor2);
    font-size: 2.1vw;
    font-weight: bold;
    line-height: 2.81vw;
    text-align: center;
    margin: 0 auto;
}

/*NOTICIAS*/
.contentorDasNoticias{
    position: relative;
    margin-top: 9%;
    margin-left: 10%;
    width: 55%;
    height: auto;
    margin-bottom: 10%;
}

.noticias {
    position: relative;
    color: #062940;
    font-family: "Raleway ExtraBold";
    font-size: 58px;
    font-weight: 900;
    line-height: 74px;
    margin-bottom: 3%;
}

.contentorNoticia{
    position: relative;
    margin-top: 3.5%;
    min-width: 110%;
    height: 35vh;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 6px 2px rgba(170,170,170,0.05);
    cursor: pointer;
}

.imagemNoticia {
    position: relative;
    width: 30%;
    height: 100%;
    /*background-image: url("../imagens/alimentacao_3.jpg");*/
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    border-radius: 6px 0 0 6px;
}

.zonaTextoNoticia {
    position: relative;
    margin-left: 2%;
    width: 65%;
    height: 100%;
    float: left;
}


.postadoNoticia{
    color: #74B2DB;
    font-family: "Raleway Medium";
    font-size: 18px;
    font-weight: 800;
    line-height: 26px;
}

.tituloNoticia{
    color: #17A2FF;
    font-family: "Raleway Medium";
    font-size: 24px;
    font-weight: 800;
    line-height: 34px;
}

.textoNoticia{
    color: #032133;
    font-family: "Raleway Medium";
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.mostrarMais{
    position: relative;
    margin-top: 4%;
    color: #17A2FF;
    font-family: "Raleway Medium";
    font-size: 22px;
    font-weight: 900;
    line-height: 26px;
}
/*FIM NOTICIAS*/

/*EVENTOS*/
.contentorDosEventos{
    position: relative;
    margin-top: 12%;
    margin-left: 10%;
    width: 75%;
    height:auto;
    margin-bottom: 10%;
}

.eventos {
    position: relative;
    color: #062940;
    font-family: "Raleway ExtraBold";
    font-size: 58px;
    font-weight: 900;
    line-height: 74px;
    margin-bottom: 3%;
}

.contentorEvento{
    position: relative;
    margin-top: 3.5%;
    width: 100%;
    height: 75vh;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 6px 2px rgba(170,170,170,0.05);
}

.zonaTextoEvento{
    position: relative;
    margin-left: 2%;
    width: 58%;
    height: 100%;
    float: left;
}

.imagemEventos{
    position: relative;
    width: 40%;
    height: 100%;
    background-image: url("../imagens/evento1.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    border-radius: 0 6px 6px 0;
}

.proximoEvento{
    position: relative;
    margin-top: 5%;
    color: #17A2FF;
    font-family: "Raleway Medium";
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 2px;
}

.dataEvento{
    position: relative;
    margin-top: 0%;
    color: #17A2FF;
    font-family: "Raleway Medium";
    font-size: 42px;
    font-weight: 900;

}.horasEvento{
     position: relative;
     margin-top: 1%;
     color: #17A2FF;
     font-family: "Raleway Medium";
     font-size: 22px;
     font-weight: bold;
 }

.localEvento{
    position: relative;
    margin-top: 1%;
    color: #17A2FF;
    font-family: "Raleway Medium";
    font-size: 22px;
    font-weight: bold;
}

.tituloEvento{
    position: relative;
    margin-top: 10%;
    color: #0A81D1;
    font-family: "Raleway Medium";
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 0;
}

.descricaoEvento{
    position: relative;
    color: #032133;
    font-family: "Raleway Medium";
    font-size: 27px;
    font-weight: 700;
}


/*FIM EVENTOS*/

/*PUBLICAÇOES*/

.contentorDasPublicacoes{
    position: relative;
    margin-top: 12%;
    margin-left: 10%;
    width: 75%;
    height:auto;
    margin-bottom: 10%;
}

.publicacoes {
    position: relative;
    color: #062940;
    font-family: "Raleway ExtraBold";
    font-size: 58px;
    font-weight: 900;
    line-height: 74px;
    margin-bottom: 2%;
}

.tituloPublicacao{
    width: 55%;
    margin-left: 0;
    color: #0A81D1;
    font-family: "Raleway Medium";
    font-size: 22px;
    font-weight: bold;
    line-height: 38px;
}


.divSeccao{
    position:relative;
    margin-top:3%;
}

.tituloSeccao{
    position: relative;
    color: #17A2FF;
    font-family: "Raleway Medium";
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
}

.iconMaisMenos{
    display: inline-block;
    cursor: pointer;
}


.zonaPublicacoes{
    color: #062940;
    font-family: "Raleway Medium";
    font-size: 22px;
    font-weight: 600;
    line-height: 36px;
    /*display: none;*/
}

.zonaPublicacoes ul{
    list-style-image: url('../imagens/bullet_publi.png');
}

.hidden { display:none }
.visible { display:block }
/*FIM PUBLICACOES*/

/*GALERIA*/

.contentorDaGaleria{
    position: relative;
    margin-top: 7%;
    margin-left: 10%;
    width: 75%;
    height:auto;
    margin-bottom: 20%;
}

.galeria {
    position: relative;
    color: #062940;
    font-family: "Raleway ExtraBold";
    font-size: 58px;
    font-weight: 900;
    line-height: 74px;
    margin-bottom: 2%;
}

.introGaleria{
    width: 55%;
    margin-left: 0;
    color: #0A81D1;
    font-family: Raleway;
    font-size: 22px;
    font-weight: bold;
    line-height: 38px;
}

.btn_galeria {
    position: relative;
    float: left;
    margin-top: 3%;
    margin-right: 3%;
    height: 5vw;
    width: 13vw;
    border: none;
    border-radius: 5px;
    background-color: #17A2FF;
    color: #FFFFFF;
    font-family: "Raleway medium";
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
}
/*FIM GALERIA*/

/*FIM DIVULGACAO*/