/*FORUM INDEX*/
/*Base*/
.forum .main{
    background-color: #F7FAFC;
}

.forum .topo h1 {
    color: var(--geral-cor1);
    font-family: "Raleway ExtraBold";
    font-size: 4.3vw;
    font-weight: 900;
    line-height: 5.5vw;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 5%;
}

.forum .topo p {
    width: 50%;
    color: var(--geral-cor2);
    font-size: 2.1vw;
    font-weight: bold;
    line-height: 2.81vw;
    text-align: center;
    margin: 0 auto;
}
.forum .conteudo{
    position: relative;
    margin-top: 8%;
    margin-left: 8%;
    width: 84%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 2px rgba(170,170,170,0.05);
}
/*FIM BASE*/

/*SEARCH BAR*/
.search_bar{
    position: relative;
    margin-top: 3.5%;
    margin-left: 3%;
    width: 15%;
    border: none;
    font-size: 16px;
    background-color: white;
    background-image: url("../imagens/search_icon.png");
    background-position: 5px ;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search_bar:focus {
    width: 60%;
    border: 2px solid #F7FAFC;
    border-radius: 4px;
}

/*FIM SEARCH BAR*/

/*TÓPICOS*/
.btn_novoTopico {
    position: relative;
    float: right;
    margin-top: 3%;
    margin-right: 3%;
    height: 5vw;
    width: 13vw;
    border: none;
    border-radius: 5px;
    background-color: #17A2FF;
    color: #FFFFFF;
    font-family: "Raleway medium";
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
}

.zona_topicos{
    position: relative;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    height: 100%;
    z-index: 5;
}

.div_topico{
    position: relative;
    width: 100%;
    height: 20%;
    z-index: 500;
    cursor: pointer;
    border-radius: 6px;
}

.div_topico:hover{
    background-color: #F7FAFC;
}

.forum .div_topico .tag {
    display: inline-block;
    border-radius: 6px;
    padding: 0.5%;
    margin-left: 2%;
    margin-top: 3%;
}

.forum .div_topico .tag img {
    width: 1vw;
}

.forum .div_topico .tag a {
    font-size: 0.7vw;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 10px;
    text-decoration: none;
    font-family: Raleway;
    letter-spacing: 2px;
}

.textoTopicos {
    margin-left: 2%;
    margin-top: 1%;
    color: #062940;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 800;
    line-height: 34px;
}

.zonaDiaHoraEstado{
    position:relative;
    margin-top: 6%;
    padding-bottom: 3%;
}

.textoDiaHora{
    position: relative;
    margin-left: 2%;
    color: #AEBAC2;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;

}

.topicoAtivo{
    position: relative;
    margin-top: 6%;
    margin-left: 1.5%;
    color: #24D7B4;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 800;
}


.topicoFechado{
    position: relative;
    margin-top: 6%;
    margin-left: 1.5%;
    color: #FF6262;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 800;
}

.zonaNrRespostas{
    position:relative;
    float: right;
    margin-top:3%;
    margin-right: 2%;
}

.topicoNrRespostas{
    position: relative;
    color: #74B2DB;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
}

.simboloResposta{
    display: inline-block;

}

/*FIM TÓPICOS*/

/*PAGINAÇÃO*/
.zonaMudançaPaginas{
    display: inline-block;
    margin-left: 35%;
    padding-bottom: 3%;
    padding-top: 3%;
}

.zonaMudançaPaginas a{
    color: #17A2FF;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #BCE4FF;
    margin: 0 4px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
}

.zonaMudançaPaginas a.active {
    border: 1px solid #74B2DB;
    color: #17A2FF;
}

.zonaMudançaPaginas a:not(.active) {
    color: #BCE4FF;
}
/*FIM PAGINAÇÃO*/

/*FIM FÓRUM INDEX*/


/*FÓRUM TOPICO ABERTO*/

.tituloTopico {
    position: relative;
    padding-top: 4.5%;
    margin-left: 3.5%;
    color: #062940;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 900;
}

.zonaNrRespostasAberto{
    position:relative;
    float: left;
    margin-top:1%;
    margin-left: 3%;
    z-index: 5;

}

.topicoNrRespostasAberto{
    position: relative;
    color: #74B2DB;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;

}

.simboloResposta{
    display: inline-block;
}

.div_Respostas{
    position: relative;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 3%;
    width: 90%;
    height: 100%;
    z-index: 5;
    border-radius: 6px;
    box-shadow: 0 1px 3px 1px #BCE4FF;
}

.dataResposta{
    position: relative;
    margin-top: 2%;
    margin-left: 3%;
    color: #74B2DB;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 26px;
    padding-top: 3%;

}


.textoResposta{
    position: relative;
    color: #062940;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 3%;
    margin-top: 3%;
}

.quemRespondeu{
    position: relative;
    float: right;
    margin-right: 5%;
    padding-bottom: 2%;
    color: #24D7B4;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 800;

}

.div_Responder{
    position: relative;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 3%;
    width: 90%;
    height: 100%;
    z-index: 5;
    border-radius: 6px;
    box-shadow: 0 1px 3px 1px #BCE4FF;
    background-color: #F7FAFC;
}


.zonaResponder{
    margin-top:-1%;
    margin-left: 3%;
    z-index: 5;
    padding-top: 4%;
    padding-bottom: 4%;
}

.topicoResponder{
    color: #17A2FF;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 900;
    line-height: 21px;
}

.zonaMudançaTopicos{
    width: 100%;
    height: 9vw;
}

.zonaProximo{
    position: relative;
    float: right;
    margin-top: 2.5%;
    margin-right: 4.5%;
}

.zonaAnterior{
    position: relative;
    float: left;
    margin-top: 2.5%;
    margin-left: 4.5%;
}

.linkProximoTopico{
    color: #74B2DB;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 26px;
}

.linkVoltarLista{
    color: #74B2DB;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 26px;

}

/*REPONDER ATIVO*/

.div_ResponderAtivo{
    position: relative;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 3%;
    width: 90%;
    height: 100%;
    z-index: 4;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 6px;
    box-shadow: 0 1px 3px 1px #BCE4FF;
    background-color: #F7FAFC;
}

.zonaResponderAtivo{
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
    padding-bottom: 10%;
    z-index: 5;
    background-color: #ffffff;
}

.textoResponder{
    width: 90%;
    height: 10vw;

    font-size: 1.5vw;
    resize: none;
}

/*FIM RESPONDER ATIVO*/

/*FIM FÓRUM TOPICO ABERTO*/