
@media only screen and (max-width: 880px) {
	#glossario h1 {
	    font-size: 5vw;
	}

	#glossario .definicao h1 {
	    font-size: 2.3vw;
	    line-height: 4vw;
	}

	#glossario .definicao p {
		font-size: 1.9vw;
    	line-height: 2.5vw;
    }

    #glossario .letra {
	    width: 3.5vw;
	    font-size: 2vw;
	    line-height: 3vw;
	    height: 3.5vw;
	}
}