/*MENU*/
    .zonaMenu {
        height: auto;
        width: 100%;
        background-color: #062940;
        position: fixed;
        top: 0;
        z-index: 10;
        backface-visibility: hidden;
    }

    .zonaMenu .navbar {
        width: -webkit-fill-available;
        width: -moz-available;
        display: table;
        padding-left: 5vw;
        padding-right: 3vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
    }

    .zonaMenu .logo {
        font-size: 2vw;
        color: #FFFFFF;
        font-family: "Permanent Marker";
        text-decoration: none;
        cursor: pointer;

        display: table-cell;
        vertical-align: middle;
    }

    .zonaMenu .topicosMenu {
        color: #FFFFFF;
        letter-spacing: 1px;
        font-weight: 900;
        text-align: right;
        list-style-type: none;
        overflow: hidden;
        display: inline-block;
        margin: 0 auto;
        padding-left: 20vw;
        font-size: 1.2vw;

        display: table-cell;
        vertical-align: middle;
    }

    .zonaMenu .topicosMenu li{
        font-family: "Raleway Bold";
        display: inline-block;
        margin-left: 2%;
        margin-right: 2%;
    }

    .zonaMenu .topicosMenu a {
        font-family: "Raleway Bold";
        text-decoration: none;
        color: #FFFFFF;
    }

    .zonaMenu .setaTemasMenu{
        background-color: transparent;
        background-image: url("../imagens/arrowmenu_mod.png");
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        width: 1vw;
        height: 1vw;
        cursor: pointer;
        padding-top: 0.5vw;
        margin-left: 0.5vw;
    }

    .zonaMenu .topicosMenu .destaques a {
        color: #17A2FF;
    }

    .zonaMenu .topicosMenu li:hover{
        color: #BCE4FF;
    }

    .zonaMenu .topicosMenu a:hover{
        color: #BCE4FF;
    }

    .zonaMenu input[type="button"] {
        width: auto;
        border: none;
        border-radius: 8px;
        background-color: #0A81D1;
        box-shadow: 0 2px 4px 0 rgba(3,44,72,0.09);
        color: #FFFFFF;
        font-family: "Raleway Bold";
        font-weight: 900;
        cursor: pointer;
        font-size: 1.34vw;

        float: right;

        width: 8vw;
        height: 4.23vw;
    }

    .zonaMenu input[type="button"]:hover{
        background-color: #17A2FF;
    }

    /*DropDown menu*/
        .zonaMenu .dropdown {
            display: none;
            background-color: #F7FAFC;
            border-radius: 6px;
            position: absolute;
            margin-left: -4vw;
            width: 13vw;
            margin-top: 2vw;
        }

        .zonaMenu .dropdown .submenus {
            margin-left: 1vw;
            margin-right: 0.2vw;
            margin-top: 0.5vw;
            margin-bottom: 0.5vw;
        }

        .zonaMenu .dropdown .submenus a {
            margin: 0 auto;
            padding: 0.5vw;
            margin-top: 0.5vw;
            color: #032133;
            font-family: "Raleway Bold";
            font-size: 1vw;
            font-weight: 800;
            line-height: 1.4vw;
            display: inline-block;
            float: left;
            border-radius: 6px;
        }

        .zonaMenu .dropdown .submenus a:hover {
            background-color: #DBF0FD;
        }

        .zonaMenu .topicosMenu .dropdownMenu:hover .dropdown {
            display: block;
        }

        .zonaMenu .topicosMenu .dropdownMenu:hover .triangulo{
            display: block;
        }

        .zonaMenu .triangulo {
            display: none;
            width: 0;
            height: 0;
            border-left: 1.5vw solid transparent;
            border-right: 1.5vw solid transparent;
            border-bottom: 1.5vw solid #FFF;
            border-radius: 10px;
            margin-left: 1.2vw;
            margin-top: 1vw;
            margin-right: 2vw;
            position: absolute;
        }

        .zonaMenu .helper{
            width: 6vw;
            height: 2vw;
            position: absolute;
            margin-top: -1vw;
        }

    /*INDEX*/
    .index .zonaMenu {
        background-color: transparent;
        position: absolute;
    }
    /*MOBILE*/
        .mobile {
            display: none;
        }

        .mobile .topicosMenu li {
            text-decoration: none;
            color: #0A81D1;
            list-style: none;
            font-family: "Raleway SemiBold";
            font-size: 6vw;
            line-height: 8vw;
            margin: 1vw;
            border: 1px black solid;
            text-align: center;
        }

        .mobile .topicosMenu li a {
            text-decoration: none;
            color: #0A81D1;
            text-align: center;
            font-family: "Raleway SemiBold";
            font-size: 6vw;
            line-height: 8vw;
        }

        .mobile .menu-mobile {
            margin-top: 14vw;
        }

        .menu.mobile {
            height: auto;
        }

        .menu.mobile .botao-mobile {
            height: 13vw;
            width: 15%;
            background: transparent;
            font-size: 6vw;
            border: none;
            color: white;
        }

        .menu.mobile .logo {
            display: inline-block;
            font-size: 5vw;
            margin: 0 auto;
            margin-top: -2vw;
        }


        body {
            width: 100%;
            height: 100%;
          }

          .slideout-menu {
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 0;
            width: 256px;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            display: none;
          }

          .slideout-panel {
            position: relative;
            z-index: 1;
            will-change: transform;
          }

          .slideout-open,
          .slideout-open body,
          .slideout-open .slideout-panel {
            overflow: hidden;
          }

          .slideout-open .slideout-menu {
            display: block;
        }

/*RESPONSIVE*/
    @media only screen and (max-width: 1000px) and (min-width: 600px) {
        .zonaMenu .topicosMenu {
            padding-left: 0;
            font-size: 1.8vw;
        }

        .zonaMenu .logo {
            font-size: 2.5vw;
        }

        .zonaMenu input[type="button"] {
            font-size: 1.8vw;
            float: right;
            width: 9vw;
            height: 5vw;
        }

        .zonaMenu .dropdown {
            margin-left: -8vw;
            width: 22vw;
        }

        .zonaMenu .dropdown .submenus a {
            font-size: 1.8vw;
        }

        .zonaMenu .helper {
            width: 8vw;
            height: 3vw;
        }
    }

    @media only screen and (max-width: 600px) {
        .zonaMenu .navbar {
            display: none;
        }

         .mobile {
            display: block;
        }
    }