/*PAGINA TEMAS*/
	.alimentacao mark{
		background-color: var(--alimentacao-cor2);
		color: inherit;
	}
	.consumos mark{
		background-color: var(--consumos-cor2);
		color: inherit;
	}
	.sexualidade mark{
		background-color: var(--sexualidade-cor2);
		color: inherit;
	}

	.alimentacao .tituloZonaConteudo{
		background-color: var(--alimentacao-back);
	}
	.consumos .tituloZonaConteudo{
		background-color: var(--consumos-back);
	}
	.sexualidade .tituloZonaConteudo{
		background-color: var(--sexualidade-back);
	}

	.alimentacao .destaquesTitulo{
		color:var(--alimentacao-cor1);
	}
	.consumos .destaquesTitulo{
		color:var(--consumos-cor1);
	}
	.sexualidade .destaquesTitulo{
		color:var(--sexualidade-cor1);
	}


	.alimentacao .aqui-podes-encontrar{
		color: var(--alimentacao-cor1);
	}
	.consumos .aqui-podes-encontrar{
		color: var(--consumos-cor1);
	}
	.sexualidade .aqui-podes-encontrar{
		color: var(--sexualidade-cor1);
	}


	.alimentacao .aqui-podes.encontrar mark{
		background-color: var(alimentacao-cor2);
	}
	.consumos .aqui-podes.encontrar mark{
		background-color: var(consumos-cor2);
	}
	.sexualidade .aqui-podes.encontrar mark{
		background-color: var(sexualidade-cor2);
	}


	.alimentacao .texto{
		color: var(--alimentacao-cor1);
	}
	.consumos .texto{
		color: var(--consumos-cor1);
	}
	.sexualidade .texto{
		color: var(--sexualidade-cor1);
	}


	.alimentacao .texto p{
		color: var(--alimentacao-cor1);
	}
	.consumos .texto p{
		color: var(--consumos-cor1);
	}
	.sexualidade .texto p{
		color: var(--sexualidade-cor1);
	}

	.alimentacao .tag {
		background-color: var(--alimentacao-cor2);
    }
    .consumos .tag {
		background-color: var(--consumos-cor2);
    }
    .sexualidade .tag {
		background-color: var(--sexualidade-cor2);
    }

	.forum_alimentacao .tag {
		background-color: var(--alimentacao-cor1);
	}

	.forum_consumos .tag {
		background-color: var(--consumos-cor1);
	}

	.forum_sexualidade .tag {
		background-color: var(--sexualidade-cor1);
	}


	.alimentacao .tag a {
    	color: var(--alimentacao-cor1);
    }
    .consumos .tag a {
    	color: var(--consumos-cor1);
    }
    .sexualidade .tag a {
    	color: var(--sexualidade-cor1);
    }

	.forum_alimentacao .tag a {
		color: #ffffff;
	}
	.forum_consumos .tag a {
		color: #ffffff;
	}
	.forum_sexualidade .tag a {
		color: #ffffff;
	}

	.alimentacao .texto p mark{
		background-color: var(--alimentacao-cor2);
		color: var(--alimentacao-cor1);
	}
	.consumos .texto p mark{
		background-color: var(--consumos-cor2);
		color: var(--consumos-cor1);
	}
	.sexualidade .texto p mark{
		background-color: var(--sexualidade-cor2);
		color: var(--sexualidade-cor1);
	}

	.conteudo .alimentacao {
		border: 3px solid #FFF;
    	border-radius: 6px;
		border-color: var(--alimentacao-cor2);
	}
	.conteudo .consumos {
		border: 3px solid #FFF;
    	border-radius: 6px;
		border-color: var(--consumos-cor2);
	}
	.conteudo .sexualidade {
		border: 3px solid #FFF;
    	border-radius: 6px;
		border-color: var(--sexualidade-cor2);
	}

	.alimentacao .post{
		border-color: var(--alimentacao-cor2);
	}
	.consumos .post{
		border-color: var(--consumos-cor2);
	}
	.conteudo .consumos .post {
    	border: none;
	}
	.sexualidade .post{
		border-color: var(--sexualidade-cor2);
	}


	.alimentacao .post .tituloArtigo{
		color: var(--alimentacao-cor1);
	}
	.consumos .post .tituloArtigo{
		color: var(--consumos-cor1);
	}
	.sexualidade .post .tituloArtigo{
		color: var(--sexualidade-cor1);
	}

	.alimentacao .tituloArtigo{
		color: var(--alimentacao-cor1);
	}
	.consumos .tituloArtigo{
		color: var(--consumos-cor1);
	}
	.sexualidade .tituloArtigo{
		color: var(--sexualidade-cor1);
	}

	.alimentacao .titulo{
		color: var(--alimentacao-cor1);
	}
	.consumos .titulo{
		color: var(--consumos-cor1);
	}
	.sexualidade .titulo{
		color: var(--sexualidade-cor1);
	}

	.alimentacao .sabiasQue{
		border-color: var(--alimentacao-cor2);
		background-color: var(--alimentacao-cor2);
	} 
	.consumos .sabiasQue{
		border-color: var(--consumos-cor2);
		background-color: var(--consumos-cor2);
	} 
	.sexualidade .sabiasQue{
		border-color: var(--sexualidade-cor2);
		background-color: var(--sexualidade-cor2);
	} 



	.alimentacao .sabiasQue .tituloArtigo{
		color: var(--alimentacao-cor1);
	}
	.consumos .sabiasQue .tituloArtigo{
		color: var(--consumos-cor1);
	}
	.sexualidade .sabiasQue .tituloArtigo{
		color: var(--sexualidade-cor1);
	}


	.alimentacao .carregarMais{
		background-color: var(--alimentacao-cor1);
	}
	.consumos .carregarMais{
		background-color: var(--consumos-cor1);
	}
	.sexualidade .carregarMais{
		background-color: var(--sexualidade-cor1);
	}



	.alimentacao #zonaGlossario .titulo{
		color: var(--alimentacao-cor1);
	}
	.consumos #zonaGlossario .titulo{
		color: var(--consumos-cor1);
	}
	.sexualidade #zonaGlossario .titulo{
		color: var(--sexualidade-cor1);
	}


	.alimentacao #zonaGlossario .descricao{
		color: var(--alimentacao-cor1);
	}
	.consumos #zonaGlossario .descricao{
		color: var(--consumos-cor1);
	}
	.sexualidade #zonaGlossario .descricao{
		color: var(--sexualidade-cor1);
	}


	.alimentacao #zonaLinks .titulo{
		color: var(--alimentacao-cor1);
	}
	.consumos #zonaLinks .titulo{
		color: var(--consumos-cor1);
	}
	.sexualidade #zonaLinks .titulo{
		color: var(--sexualidade-cor1);
	}


	.alimentacao #zonaLinks .linkUteis{
		background-color: var(--alimentacao-cor2);
	}
	.consumos #zonaLinks .linkUteis{
		background-color: var(--consumos-cor2);
	}
	.sexualidade #zonaLinks .linkUteis{
		background-color: var(--sexualidade-cor2);
	}


	.alimentacao #zonaDocumentos .titulo{
		color: var(--alimentacao-cor1);
	}
	.consumos #zonaDocumentos .titulo{
		color: var(--consumos-cor1);
	}
	.sexualidade #zonaDocumentos .titulo{
		color: var(--sexualidade-cor1);
	}


	.alimentacao #zonaDocumentos .documentos{
		background-color: var(--alimentacao-cor2);
	}
	.consumos #zonaDocumentos .documentos{
		background-color: var(--consumos-cor2);
	}
	.sexualidade #zonaDocumentos .documentos{
		background-color: var(--sexualidade-cor2);
	}


	.alimentacao #zonaDeVideos .titulo, .alimentacao #zonavideoDetalhe #zonaVerVideo #info #tituloVideo{
		color: var(--alimentacao-cor1);
	}
	.consumos #zonaDeVideos .titulo, .consumos #zonavideoDetalhe #zonaVerVideo #info #tituloVideo{
		color: var(--consumos-cor1);
	}
	.sexualidade #zonaDeVideos .titulo, .sexualidade #zonavideoDetalhe #zonaVerVideo #info #tituloVideo{
		color: var(--sexualidade-cor1);
	}


	.alimentacao #zonaDeVideos .titulo mark{
		color: var(--alimentacao-cor1);
		background-color: var(--alimentacao-cor2);
	}
	.alimentacao #zonaDeVideos .titulo mark{
		color: var(--alimentacao-cor1);
		background-color: var(--alimentacao-cor2);
	}
	.alimentacao #zonaDeVideos .titulo mark{
		color: var(--alimentacao-cor1);
		background-color: var(--alimentacao-cor2);
	}


	.alimentacao #zonaDeVideos .postVideo .titulo{
		color: var(--alimentacao-cor1);
	}
	.consumos #zonaDeVideos .postVideo .titulo{
		color: var(--consumos-cor1);
	}
	.sexualidade #zonaDeVideos .postVideo .titulo{
		color: var(--sexualidade-cor1);
	}


	.alimentacao .hvr-overline-from-left:before {
		background: var(--alimentacao-cor1);
	}
	.consumos .hvr-overline-from-left:before {
		background: var(--consumos-cor1);
	}
	.sexualidade .hvr-overline-from-left:before {
		background: var(--sexualidade-cor1);
	}

	.alimentacao #glossario .abecedario{
		background-color: var(--alimentacao-cor1);
	}
	.consumos #glossario .abecedario{
		background-color: var(--consumos-cor1);
	}
	.sexualidade #glossario .abecedario{
		background-color: var(--sexualidade-cor1);
	}

	.alimentacao #glossario .letra:hover, .alimentacao #glossario .ativo{
		color: var(--alimentacao-cor1);
	}
	.consumos #glossario .letra:hover, .consumos #glossario .ativo{
		color: var(--consumos-cor1);
	}
	.sexualidade #glossario .letra:hover, .sexualidade #glossario .ativo{
		color: var(--sexualidade-cor1);
	}

	.alimentacao #glossario h1{
		color: var(--alimentacao-cor1);
	}
	.consumos #glossario h1{
		color: var(--consumos-cor1);
	}
	.sexualidade #glossario h1{
		color: var(--sexualidade-cor1);
	}

/*PAGINA_ARTIGO*/
	.alimentacao .cabecalhoArtigo p{
		color: var(--alimentacao-cor1);
	}
	.consumos .cabecalhoArtigo p{
		color: var(--consumos-cor1);
	}
	.sexualidade .cabecalhoArtigo p{
		color: var(--sexualidade-cor1);
	}

	.alimentacao cite:before {
		color: var(--alimentacao-cor1);
	}
	.consumos cite:before {
		color: var(--consumos-cor1);
	}
	.sexualidade cite:before {
		color: var(--sexualidade-cor1);
	}

	.alimentacao cite:after {
		color: var(--alimentacao-cor1);
	}
	.consumos cite:after {
		color: var(--consumos-cor1);
	}
	.sexualidade cite:after {
		color: var(--sexualidade-cor1);
	}

	.alimentacao .outrosArtigos {
		color: var(--alimentacao-cor1);
	}
	.consumos .outrosArtigos {
		color: var(--consumos-cor1);
	}
	.sexualidade .outrosArtigos {
		color: var(--sexualidade-cor1);
	}

	.alimentacao .outrosArtigos {
		background-color: var(--alimentacao-back);
	}
	.consumos .outrosArtigos {
		background-color: var(--consumos-back);
	}
	.sexualidade .outrosArtigos {
		background-color: var(--sexualidade-back);
	}

/*PAGINA DESTAQUES*/
	.destaques .comprido .alimentacao h1 {
		color: var(--alimentacao-cor1);
	}
	.destaques .comprido .consumos h1 {
		color: var(--consumos-cor1);
	}
	.destaques .comprido .sexualidade h1 {
		color: var(--sexualidade-cor1);
	}

	.destaques .comprido .alimentacao {
		border-color: var(--alimentacao-cor2);
	}
	.destaques .comprido .consumos {
		border-color: var(--consumos-cor2);
	}
	.destaques .comprido .sexualidade {
		border-color: var(--sexualidade-cor2);
	}

	.destaques .alimentacao.sabias-que {
		background-color: var(--alimentacao-cor2);
	}
	.destaques .consumos.sabias-que {
		background-color: var(--consumos-cor2);
	}
	.destaques .sexualidade.sabias-que {
		background-color: var(--sexualidade-cor2);
	}

/*INDICE*/
.alimentacao.bloco h1 {
	color: var(--alimentacao-cor1);
}
.consumos.bloco h1 {
	color: var(--consumos-cor1);
}
.sexualidade.bloco h1 {
	color: var(--sexualidade-cor1);
}