/*DISPOSITIVOS MAIS PEQUENOS*/
    /*RODAPE*/
        @media only screen and (max-width: 880px) {
            #rodape {
                position: relative;
                width: 100%;
                background-color: #062940;
                padding-bottom: 8%;
                clear: both;
            }

            #rodape #logoRodape {
                position: relative;
                width: 100%;
                color: #FFFFFF;
                font-family: "Permanent Marker";
                font-size: 5.3vw;
                line-height: 5vw;
                text-align: center;
                margin: 0;
                float: left;
                padding: 0;
                padding-top: 3.97%;
            }

            #rodape #icons {
                position: relative;
                width: 100%;
                padding: 0%;
                float: left;
                padding-bottom: 4%;
                padding-top: 4%;
            }

            #rodape #icons #linhaIc{
                margin: auto;
                width: 21vw;
            }

            #rodape #icons #facebookIcon, #rodape #icons #youtubeIcon, #rodape #icons #instagramIcon{
                width: 5.8vw;
                height: 5.8vw;
            }

            #rodape #icons #youtubeIcon, #rodape #icons #instagramIcon{
                margin-left: 7%;
                padding: 0;
            }

            #rodape .menu {
                position: relative;
                margin-top: 0%;
                float: left;
                margin-left: 10%;
                width: 80%;
                padding: 0;
                text-align: center;
                font-size: 3.5vw;
                line-height: 4vw;
                height: 13vw;
            }

            #rodape .zonaContactos {
                margin-top: 5%;
            }

            #zonaCopyrights {
                text-align: center !important;
                padding: 0;
                padding-top: 2%;
            }

            #zonaCopyrights .copyrights {
                padding: 0;
                width: 100%;
                font-size: 2.1vw;
                line-height: 4vw;
            }

            #zonaCopyrights #icParceiros {
                padding: 0;
                padding-top: 4%;
                width: 100%;
            }
        }

        @media only screen and (max-width: 1100px) and (min-width: 880px){
            #rodape #logoRodape{
                font-size: 2.4vw;
                line-height: 5.9vw;
            }

            #rodape #icons #facebookIcon, #rodape #icons #youtubeIcon, #rodape #icons #instagramIcon{
                width: 2.4vw;
                height: 2.4vw;
            }

            #rodape .menu {
                font-size: 1.5vw;
            }

            #zonaCopyrights .copyrights{
                font-size: 1.1vw;
                line-height: 3vw;
            }
        }

  @media only screen and (max-width: 600px) {
      /*PAGINA TEMAS*/
          /*TITULO PRINCIPAL*/
              .paginaTema .destaquesTitulo{
                  font-size: 10vw;
              }

              .paginaTema .aqui-podes-encontrar{
                  font-size: 5vw;
                  line-height: normal;
                  width: 90%;
              }

              .paginaTema .texto p {
                  display: none;
              }

          /*POSTS E SABIAS QUE*/
              .paginaTema .post .tituloArtigo {
                  font-size: 6vw;
                  line-height: normal;
                  margin-bottom: 3%;
              }

              .paginaTema .post .textoArtigo{
                  font-size: 5vw;
                  line-height: normal;
              }

              .paginaTema .sabiasQue .tituloArtigo {
                  font-size: 6vw;
                  line-height: normal;
              }

              .paginaTema .sabiasQue .textoArtigo {
                  font-size: 5vw;
                  line-height: normal;
              }

          /*COLS E BLOCOS*/
              .col1 {
                  width: auto;
                  float: none;
                  margin: 0 auto;
              }

              .col2 {
                  width: auto;
                  float: none;
                  margin: 0 auto;
              }
              .col3 {
                  width: auto;
                  float: none;
                  margin: 0 auto;
              }

              .bloco-1{
                  display: inline-block;
              }
              .bloco-2{
                  display: inline-block;
                  width: auto;
                  float: none;
              }

          /*GERAL*/
              .texto{
                  display: block;
              }

              .paginaTema .post .zonaTexto {
                  padding: 6%;
              }

              .carregarMais {
                  width: 40%;
                  padding-left: 10%;
                  padding-right: 10%;
                  padding-top: 5%;
                  padding-bottom: 5%;
                  font-size: 5vw;
                  line-height: normal;
              }

          /*ZONA VIDEOS*/
              #zonaDeVideos .postVideo{
                  float: none;
                  width: auto;
              }

              #zonaDeVideos .titulo {
                  width: auto;
                  font-size: 7vw;
                  line-height: normal;
                  margin-bottom: 3%;
              }

              #zonaDeVideos .postVideo{
                  margin: 0 auto;
                  margin-bottom: 3%;
              }

              #zonaDeVideos .postVideo .titulo {
                  font-size: 6vw;
                  line-height: normal;
              }

              #zonaDeVideos .postVideo .texto{
                  font-size: 5vw;
                  line-height: normal;
              }

          /*ZONA GLOSSARIO*/
              #zonaGlossario .descricao {
                  font-size: 5vw;
                  line-height: normal;
                  width: auto;
              }

              #zonaGlossario h1 {
                  font-size: 6vw;
                  line-height: normal;
              }

              #zonaGlossario .titulo {
                  width: 80%;
                  width: auto;
                  font-size: 5vw;
                  line-height: normal;
                  margin-bottom: 3%;
              }

              #glossario .abecedario {
                  margin-right: 10%;
              }

              #glossario .letra {
                  font-size: 5vw;
                  padding: 1vw;
                  margin: 0 auto;
              }

              #glossario .definicao {
                  display: block;
                  width: auto;
                  padding: 0;
              }

              #glossario .definicao h1{
                  font-size: 5vw;
                  line-height: normal;
              }

              #glossario .definicao p{
                  font-size: 4vw;
                  line-height: normal;
              }

          /*ZONA DOCUMENTOS*/
              #zonaDocumentos .titulo{
                  font-size: 7vw;
              }

              #zonaDocumentos .documentos{
                  font-size: 5vw;
                  line-height: normal;
              }

              #zonaDocumentos .documentos img{
                  display: none;
              }

          /*ZONA LINKS*/
              #zonaLinks .titulo{
                  font-size: 7vw;
              }

              #zonaLinks .linkUteis{
                  font-size: 5vw;
                  line-height: normal;
              }

              #zonaLinks .linkUteis img{
                  display: none;
              }

      /*PAGINA ARTIGO*/
          .artigo .cabecalhoArtigo .detalhe{
              width: auto;
          }

          .artigo .cabecalhoArtigo .detalhe p{
              font-size: 3vw;
              line-height: normal;
          }

          .artigo .artigosRelacionados a{
              display: block;
              width: auto;
          }

          .artigo .artigosRelacionados .bloco-1 {
              width: 80%;
          }

          .artigo .artigosRelacionados .bloco-1 .zonaTexto{
              padding: 5%;
          }

          .artigo .artigosRelacionados .bloco-1 .tituloArtigo {
              font-size: 3vw;
          }

          .artigo .artigosRelacionados .bloco-1 .textoArtigo {
              font-size: 2.6vw;
          }

          .artigo .conteudo p{
              font-size: 3vw;
              line-height: 3.8vw;
              width: 90%;
          }

          .artigo cite{
              font-size: 3.6vw;
          }

      /*PAGINA INDEX*/
          .index .intro {
            display: flex;
            margin: 0 auto;
            height: 100vh;
            background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,22,0.65) 100%), url(../imagens/imgInicial-min.jpg) no-repeat;
            opacity: 0.8;
            background-size: cover;
          }

          .index .intro .terco h1 {
            font-size: 8vw;
            line-height: normal;
            margin-bottom: 3vw;
          }

          .index .intro .terco {
            align-self: center;
            width: 75%;
          }

          .index .intro .terco h3 {
            font-size: 5vw;
            line-height: normal;
            margin-bottom: 15%;
          }

          .index .intro .terco button {
            font-size: 4vw;
            line-height: normal;
            width: 40vw;
            height: 16vw;
            margin: 0 auto;
          }

          .index .metade {
            float: none;
            display: block;
            width: 80%;
          }

          .index .metade h1 {
              width: 90%;
              font-size: 5vw;
              line-height: normal;
              margin-bottom: 5%;
          }

          .index .metade p {
              width: 90%;
              font-size: 4vw;
              line-height: normal;
          }
          
          .index .metade a {
              font-size: 4vw;
              line-height: normal;
          }

          .index .zona .titulo {
              width: 80%;
              font-size: 5vw;
              line-height: normal;
          }

          .index .zona .titulo mark {
              font-size: 5vw;
              line-height: normal;
          }

          .index .colorizar .zona {
              width: 95%;
          }

          .index .comprido .bloco {
              float: none;
              display: block;
              width: 80%;
              margin: 0 auto;
              margin-bottom: 5%;
          }

          .index .comprido h1 {
              font-size: 6vw;
              line-height: normal;
          }

          .index .comprido .bloco p {
              color: #062940;
              font-size: 4vw;
              line-height: normal;
          }

      /*PAGINA DESTAQUES*/

          .destaques .card .blocoTopo .titulo {
              font-size: 5vw;
              line-height: normal;
          }

          .destaques .card .blocoTopo .tag {
              display: none;
          }

          .destaques .texto {
              font-size: 4vw;
              line-height: normal;
          }

          .destaques .zonaVideos h1 {
              font-size: 7vw;
              width: 80%;
              line-height: normal;
          }

          .destaques .zonaVideos .video {
              float: none;
              width: 90%;
              margin: 0 auto;
              margin-bottom: 10%;
          }

          .destaques .zonaForum .metade {
              float: none;
              width: 90%;
              margin: 0 auto;
          }

          .destaques .zonaForum .metade h1 {
              font-size: 6vw;
              line-height: normal;
              width: 100%;
          }

          .destaques .zonaForum .metade p {
              margin-top: 5%;
              font-size: 5vw;
              line-height: normal;
              width: 100%;
          }

          .destaques .zonaForum .metade a {
              font-size: 5vw;
              line-height: normal;
              width: 100%;
          }
          
      /*PAGINA PARCEIROS*/
          .parceiros .topo h1 {
              font-size: 11vw;
              line-height: normal;
          }

          .parceiros .topo p {
              width: 80%;
              font-size: 5vw;
              line-height: normal;
          }

          .parcerias .parceiro {
              display: block;
              float: none;
              width: 80%;
              height: auto;
              min-height: 30vw;
              margin: 0 auto;
              margin-top: 5%;
              margin-bottom: 5%;
          }

          .parcerias .parceiro .nomeEscola {
              display: none;
          }

          .parcerias .parceiro .parceria {
              font-size: 3vw;
              line-height: normal;
          }

          .parcerias .parceiro .nomeInstituto {
              font-size: 4vw;
              line-height: normal;
          }

      /*PAGINA GALERIA*/
          .galeria .topo h1 {
              font-size: 11vw;
              line-height: normal;
          }

          .galeria .topo p {
              width: 80%;
              font-size: 5vw;
              line-height: normal;
          }

          .imagens #ody li{
              float: none !important;
              width: 100% !important;
              margin: 0 auto !important;
              margin-top: 5% !important;
              margin-bottom: 5% !important;
          }

      /*INICIO SOBRE*/
          .sobre .topo h1 {
              color: var(--geral-cor1);
              font-family: "Raleway ExtraBold";
              font-size: 4.3vw;
              font-weight: 900;
              line-height: 5.5vw;
              text-align: center;
          }

          .sobre .topo p {
              width: 80%;
              color: var(--geral-cor2);   
              font-size: 5vw;
              font-weight: bold;
              line-height: 6vw;
              text-align: center;
              margin: 0 auto;
          }

          .sobre .topo img {
              margin: 5%;
              width: 70%;
          }

          .sobre .zona.descricao {
              width: 80%;
          }

          .sobre .zona.descricao p {
              font-size: 3vw;
              line-height: 5vw;
          }

          .sobre .zona.descricao .destacar {
              font-size: 3vw;
              line-height: 4.5vw;
          }

          .sobre .zona.descricao li {
              font-size: 3vw;
              line-height: 5vw;
          }

          .sobre .zona.equipa h1 {   
              font-size: 5vw;
              line-height: 7vw;
          }

          
          .sobre .equipa .elementos .elemento {
              width: 45%;
          }

          .sobre .equipa .elementos .elemento img {
              width: 100%;
          }

          .sobre .equipa .elementos .elemento .nome {
              font-size: 3vw;
              line-height: 5vw;
          }

          .sobre .equipa .elementos .elemento .cargo {
              font-size: 2.7vw;
              line-height: 4.2vw;
          }
  }

  @media only screen and (max-width: 800px) and (min-width: 600px) {
      /*PAGINA PARCEIROS*/
          .parceiros .topo h1 {
              font-size: 11vw;
              line-height: normal;
          }

          .parceiros .topo p {
              width: 80%;
              font-size: 5vw;
              line-height: normal;
          }

          .parceiros .parcerias {
              width: 90%;
              text-align: center;

          }

          .parcerias .parceiro {
              width: 48%;
              height: 45vw;
          }

      /*INICIO SOBRE*/
          .sobre .topo h1 {
              color: var(--geral-cor1);
              font-family: "Raleway ExtraBold";
              font-size: 4.3vw;
              font-weight: 900;
              line-height: 5.5vw;
              text-align: center;
          }

          .sobre .topo p {
              width: 80%;
              color: var(--geral-cor2);   
              font-size: 5vw;
              font-weight: bold;
              line-height: 6vw;
              text-align: center;
              margin: 0 auto;
          }

          .sobre .topo img {
              margin: 5%;
              width: 70%;
          }

          .sobre .zona.descricao {
              width: 80%;
          }

          .sobre .zona.descricao p {
              font-size: 3vw;
              line-height: 5vw;
          }

          .sobre .zona.descricao .destacar {
              font-size: 3vw;
              line-height: 4.5vw;
          }

          .sobre .zona.descricao li {
              font-size: 3vw;
              line-height: 5vw;
          }

          .sobre .zona.equipa h1 {   
              font-size: 5vw;
              line-height: 7vw;
          }

          
          .sobre .equipa .elementos .elemento {
              width: 30%;
          }

          .sobre .equipa .elementos .elemento img {
              width: 100%;
          }

          .sobre .equipa .elementos .elemento .nome {
              font-size: 3vw;
              line-height: 5vw;
          }

          .sobre .equipa .elementos .elemento .cargo {
              font-size: 2.7vw;
              line-height: 4.2vw;
          }

      /*PAGINA GALERIA*/
          .galeria .topo h1 {
              font-size: 11vw;
              line-height: normal;
          }

          .galeria .topo p {
              width: 80%;
              font-size: 5vw;
              line-height: normal;
          }

          .galeria .imagens {
              width: 90%;
              text-align: center;

          }

          .imagens #ody li{
              width: 48% !important;
              margin: 1% !important;
          }
      }

  /*GALERIA FOTO DETALHE DISPOSITIVOS MOVEIS*/
      @media only screen and (max-width: 1250px) {
          #fotoDetalhe .imagem{
              width: 30% !important;
          }

          #img01{
              height: 48vw !important;
          }
      }


      @media only screen and (max-width: 870px) {
          #fotoDetalhe .imagem{
              width: 32% !important;
          }

          #img01{
              height: 56vw !important;
          }

          #fotoDetalhe #direita{
              margin-top: 22% !important;
          }

          #fotoDetalhe #esquerda{
              margin-top: 21.5% !important;
          }

          #fotoDetalhe #coment{
              font-size: 2vw !important;
              margin-bottom: 3vw !important;
              line-height: 3vw !important;
          }
      }

      @media only screen and (max-width: 650px) {
          #fotoDetalhe .imagem{
              width: 44% !important;
          }

          #img01{
              height: 74vw !important;
          }

          #fotoDetalhe #direita{
              margin-top: 30% !important;
              width: 7vw !important;
              height: 7vw !important;
          }

          #fotoDetalhe #esquerda{
              margin-top: 29.5% !important;
              width: 8.2vw !important;
              height: 8.2vw !important;
          }

          #fotoDetalhe #coment{
              font-size: 2.6vw !important;
          }
      }

      @media only screen and (max-width: 510px) {
          #fotoDetalhe .imagem{
              width: 70% !important;
          }

          #img01{
              height: 110vw !important;
          }

          #fotoDetalhe #direita{
              margin-top: 43% !important;
              margin-right: -2vw !important;
          }

          #fotoDetalhe #esquerda{
              margin-top: 42.5% !important;
              margin-left: 2vw !important;
          }

          #fotoDetalhe #fechar{
              width: 6vw !important;
              height: 6vw !important;
          }

          #fotoDetalhe #coment{
              font-size: 3.4vw !important;
              line-height: 5vw !important;
          }
      }

      @media only screen and (max-width: 350px) {
          #img01{
              height: 120vw !important;
          }

          #fotoDetalhe #coment{
              font-size: 3.4vw !important;
          }
      }



    @media only screen and (max-width: 800px) and (min-width: 600px) {
        /*PAGINA PARCEIROS*/
            .parceiros .topo h1 {
                font-size: 11vw;
                line-height: normal;
            }

            .parceiros .topo p {
                width: 80%;
                font-size: 5vw;
                line-height: normal;
            }

            .parceiros .parcerias {
                width: 90%;
                text-align: center;

            }

            .parcerias .parceiro {
                width: 48%;
                height: 45vw;
            }

        /*INICIO SOBRE*/
            .sobre .topo h1 {
                color: var(--geral-cor1);
                font-family: "Raleway ExtraBold";
                font-size: 4.3vw;
                font-weight: 900;
                line-height: 5.5vw;
                text-align: center;
            }

            .sobre .topo p {
                width: 80%;
                color: var(--geral-cor2);   
                font-size: 5vw;
                font-weight: bold;
                line-height: 6vw;
                text-align: center;
                margin: 0 auto;
            }

            .sobre .topo img {
                margin: 5%;
                width: 70%;
            }

            .sobre .zona.descricao {
                width: 80%;
            }

            .sobre .zona.descricao p {
                font-size: 3vw;
                line-height: 5vw;
            }

            .sobre .zona.descricao .destacar {
                font-size: 3vw;
                line-height: 4.5vw;
            }

            .sobre .zona.descricao li {
                font-size: 3vw;
                line-height: 5vw;
            }

            .sobre .zona.equipa h1 {   
                font-size: 5vw;
                line-height: 7vw;
            }

            
            .sobre .equipa .elementos .elemento {
                width: 30%;
            }

            .sobre .equipa .elementos .elemento img {
                width: 100%;
            }

            .sobre .equipa .elementos .elemento .nome {
                font-size: 3vw;
                line-height: 5vw;
            }

            .sobre .equipa .elementos .elemento .cargo {
                font-size: 2.7vw;
                line-height: 4.2vw;
            }

        /*PAGINA GALERIA*/
            .galeria .topo h1 {
                font-size: 11vw;
                line-height: normal;
            }

            .galeria .topo p {
                width: 80%;
                font-size: 5vw;
                line-height: normal;
            }

            .galeria .imagens {
                width: 90%;
                text-align: center;

            }

            .imagens #ody li{
                width: 48% !important;
                margin: 1% !important;
            }

        /*PAGINA DIVLGACAO*/

        /*titulo*/
        .divulgacaoPag .topo h1 {
            font-size: 11vw !important;
            line-height: normal;
        }

        .divulgacaoPag .topo p {
            width: 80% !important;
            font-size: 5vw !important;
            line-height: normal !important;
            margin-top: 10% !important;
        }

        /*noticias*/
        .noticias{
            font-size: 10vw !important;
        }

        .eventos{
            font-size: 10vw !important;
        }

        .publicacoes{
            font-size: 10vw !important;
        }

        .tituloSeccao{
            font-size: 6vw !important;
        }

        .contentorDasNoticias {
            width: 55% !important;
            /* height: auto !important;*/

        }

        .contentorNoticia {
            width: 145% !important;
            height: auto !important;
            margin-bottom: 7vw !important;
        }

        .imagemNoticia {
            width: 100% !important;
            height: 50vw !important;
        }

        .zonaTextoNoticia {
            width: 100% !important;
            height: auto !important;

        }

        .postadoNoticia{
            font-size: 4vw !important;
            margin-left: 1vw  !important;
            margin-right: 1vw  !important;
        }

        .tituloNoticia{
            font-size: 6vw !important;
            line-height: 8vw !important;
            margin-left: 1vw  !important;
            margin-right: 1vw  !important;
        }

        .textoNoticia{
            font-size: 4.5vw !important;
            line-height: 8vw !important;
            margin-left: 1vw  !important;
            margin-right: 1vw !important;
        }

        .mostrarMais{
            font-size: 6vw !important;
        }

        /*eventos*/

        .contentorDosEventos {
            width: 55% !important;
            /* height: auto !important;*/

        }

        .contentorEvento {
            width: 145% !important;
            height: auto !important;
            margin-bottom: 7vw !important;
        }

        .zonaTextoEvento{
            float: left !important;
            width: 100% !important;
            height: auto !important;
        }

        .imagemEventos{
            float: left !important;
            width: 100% !important;
            height: 40vh !important;
            margin-top: 5% !important;
        }

        .proximoEvento{
            font-size: 4vw !important;
            margin-left: 1vw  !important;
            margin-right: 1vw  !important;
        }

        .dataEvento{
            font-size: 8vw !important;
            margin-left: 1vw  !important;
            margin-right: 1vw  !important;
            margin-top: 3% !important;
        }

        .horasEvento{
            font-size: 6vw !important;
            margin-left: 1vw  !important;
            margin-right: 1vw  !important;
            margin-top: 3% !important;
        }

        .localEvento{
            font-size: 6vw !important;
            margin-left: 1vw  !important;
            margin-right: 1vw  !important;
            margin-top: 3% !important;
        }

        .tituloEvento{
            font-size: 8vw !important;
            margin-left: 1vw  !important;
            margin-right: 1vw  !important;
            margin-top: 6% !important;
        }

        .descricaoEvento{
            font-size: 6vw !important;
            margin-left: 1vw  !important;
            margin-right: 1vw  !important;
            margin-top: 3% !important;
        }

        /*publicaçoes*/


        .contentorDasPublicacoes {
            width: 55% !important;
            /* height: auto !important;*/

        }

        .tituloPublicacao{
            font-size: 6vw !important;
            line-height: 8vw !important;
            width: 150% !important;
            margin-bottom: 20% !important;
        }

        .contentorPublicacoes{
            width: 145% !important;
            height: auto !important;
            margin-bottom: 7vw !important;
        }

        .divSeccao{
            margin-bottom: 10vw !important;
        }

        .tituloSeccao{
            font-size: 6vw !important;
            line-height:13vw !important ;
            width: 100% !important;
            letter-spacing: 0.3vw !important;
        }

        .zonaPublicacoes{
            font-size: 5vw !important;
        }

        /*FORUM ABERTO*/
        .forum .topo h1 {
            margin-top: 20% !important;
            font-size: 11vw !important;
            line-height: normal;
        }

        .forum .topo p {
            width: 80% !important;
            font-size: 5vw !important;
            line-height: normal !important;
            margin-top: 10% !important;
        }


        .tituloTopico{
            font-size: 6vw !important;
            margin-bottom: 2%;
        }

        .topicoNrRespostasAberto{
            font-size: 5vw !important;
        }

        .div_Respostas{
            margin-top: 25% !important;
        }

        .dataResposta{
            font-size: 5.5vw !important;
            margin-right: 5vw !important;
            margin-bottom: 6%;
        }

        .textoResposta{
            font-size: 5vw !important;
            margin-left: 3vw !important;
            margin-right: 3vw !important;
        }

        .quemRespondeu{
            margin-top: 6% !important;
            font-size: 5vw !important;
            margin-left: 3vw !important;
            margin-right: 3vw !important;
        }

        .zonaMudançaTopicos{
            margin-top: 8%; !important;
        }
        .linkVoltarLista{
            font-size: 3vw !important;
        }

        .linkProximoTopico{
            font-size: 3vw !important;
        }

        /*FIM FORUM ABERTO*/
        /*FORUM INDEX*/
        .div_topico{
            margin-bottom: 7% !important;
        }


        .btn_novoTopico{
            width: 45vw !important;
            height: 13vw !important;
            font-size: 4.5vw !important;
            float: left !important;
            margin-left: 5% !important;
            margin-top: 5% !important;
        }

        .search_bar{
            margin-top: 10% !important;
            width: 30% !important;
            margin-left: 5% !important;
        }

        .forum .div_topico .tag{
            padding: 2% !important;
        }

        .forum .div_topico .tag img {
            width: 3vw !important;
        }
        .forum .div_topico .tag a{
            font-size: 3vw !important;
        }

        .zonaNrRespostas{
            float: left !important;
        }

        .topicoNrRespostas{
            font-size: 5vw !important;
        }

        .textoTopicos{
            margin-top: 25% !important;
            font-size: 7vw !important;
        }

        .textoDiaHora{
            font-size: 5vw !important;
        }

        .topicoAtivo{
            font-size: 5vw !important;
        }

        .topicoFechado{
            font-size: 5vw !important;
        }

        .zonaMudançaPaginas{
            margin-left: 10% !important;
            padding-bottom: 3% !important;
            padding-top: 3% !important;
        }

        .zonaMudançaPaginas a{
            padding: 1vw 2.5vw !important;
            margin: 0 0.5vw !important;
            font-size: 3vw !important;
            font-weight: 800;
        }

        /*FIM FORUM INDEX*/

        /*FORUM NOVO TOPICO*/

        .novoTopico{
            font-size: 5vw !important;
        }

        .textoTituloNovoTopico{
            font-size: 4vw !important;

        }

        .div_tituloNovoTopico{
            margin-bottom: 5% !important;
        }

        .textoEscolha{
            font-size: 5vw !important;
        }

        .div_escolhaAlimentacao{
            width: 70vw !important;
            height: 12vh !important;
            margin-bottom: 8% !important;
            margin-top: 8% !important;
        }

        .div_escolhaConsumos{
            width: 70vw !important;
            height: 12vh !important;
            display: block !important;
            margin-bottom: 8% !important;
        }


        .div_escolhaSexualidade{
            width: 70vw !important;
            height: 12vh !important;
            display: block !important;
            margin-bottom: 8% !important;
        }

        .round label{
            width: 5vw !important;
            height: 5vw !important;
        }

        .div_descricaoNovoTopico{
            width: 74vw !important;
        }

        .textoDescricao{
            font-size: 5vw !important;
        }


        .div_postarCancelar{
            width: 56vw !important;
            margin-top: 6vw !important;
            margin-left: 9% !important;
            display: block !important;
            float: left !important;
        }

        .cancelar{
            margin-top: 3% !important;
            font-size: 5vw !important;
        }

        .btn_postar{
            width: 30vw !important;
            height: 10vw !important;
        }

        /*FIM FORUM NOVO TOPICO*/
    }

    @media only screen and (max-width: 1250px) {
        .contentorNoticia {
            min-width: 130% !important;
        }

        .btn_novoTopico {
            height: 5vw !important;
            width: 17vw !important;

        }

        .div_postarCancelar {
            width: 20vw !important;
        }
    }

        /*GALERIA FOTO DETALHE DISPOSITIVOS MOVEIS*/
        @media only screen and (max-width: 1250px) {
            #fotoDetalhe .imagem {
                width: 30% !important;
            }

            #img01 {
                height: 48vw !important;
            }
        }


        @media only screen and (max-width: 870px) {
            #fotoDetalhe .imagem {
                width: 32% !important;
            }

            #img01 {
                height: 56vw !important;
            }

            #fotoDetalhe #direita {
                margin-top: 22% !important;
            }

            #fotoDetalhe #esquerda {
                margin-top: 21.5% !important;
            }

            #fotoDetalhe #coment {
                font-size: 2vw !important;
                margin-bottom: 3vw !important;
                line-height: 3vw !important;
            }
        }

        @media only screen and (max-width: 650px) {
            #fotoDetalhe .imagem {
                width: 44% !important;
            }

            #img01 {
                height: 74vw !important;
            }

            #fotoDetalhe #direita {
                margin-top: 30% !important;
                width: 7vw !important;
                height: 7vw !important;
            }

            #fotoDetalhe #esquerda {
                margin-top: 29.5% !important;
                width: 8.2vw !important;
                height: 8.2vw !important;
            }

            #fotoDetalhe #coment {
                font-size: 2.6vw !important;
            }
        }

        @media only screen and (max-width: 510px) {
            #fotoDetalhe .imagem {
                width: 70% !important;
            }

            #img01 {
                height: 110vw !important;
            }

            #fotoDetalhe #direita {
                margin-top: 43% !important;
                margin-right: -2vw !important;
            }

            #fotoDetalhe #esquerda {
                margin-top: 42.5% !important;
                margin-left: 2vw !important;
            }

            #fotoDetalhe #fechar {
                width: 6vw !important;
                height: 6vw !important;
            }

            #fotoDetalhe #coment {
                font-size: 3.4vw !important;
                line-height: 5vw !important;
            }
        }

        @media only screen and (max-width: 350px) {
            #img01 {
                height: 120vw !important;
            }

            #fotoDetalhe #coment {
                font-size: 3.4vw !important;
            }
        }

        /*TEMAS VIDEOS DETALHE DISPOSITIVOS MOVEIS*/
        @media only screen and (max-width: 800px) {
            #zonavideoDetalhe #fechar {
                width: 4.4vw;
                height: 4.4vw;
            }

            #zonavideoDetalhe #zonaVerVideo .video {
                width: 100%;
                height: 40vw;
            }

            #zonavideoDetalhe #zonaVerVideo #vistaPlaylist {
                width: 90%;
                float: left;
                height: 56vw;
                margin-left: 5%;
                margin-top: 4%;
                padding: 0;
            }

            #zonavideoDetalhe #zonaVerVideo {
                margin-bottom: 3%;
            }

            #zonavideoDetalhe #zonaVerVideo #vistaPlaylist li div {
                height: 59%;
            }

            #zonavideoDetalhe #zonaVerVideo #info #tituloVideo {
                font-size: 3.37vw;
                line-height: 5.4vw;
            }

            #zonavideoDetalhe #zonaVerVideo #info #descricaoVideo {
                font-size: 2.186vw;
                line-height: 2.779vw;
                letter-spacing: 0.2vw;
            }

            /*PAGINA DIVLGACAO*/
            .divulgacaoPag .topo h1 {
                font-size: 11vw !important;
                line-height: normal;
            }

            .divulgacaoPag .topo p {
                width: 80% !important;
                font-size: 5vw !important;
                line-height: normal !important;
                margin-top: 10% !important;
            }

            .noticias {
                font-size: 10vw !important;
            }

            .tituloSeccao {
                font-size: 6vw !important;
            }

            .contentorDasNoticias {
                width: 55% !important;
                /* height: auto !important;*/

            }

            .contentorNoticia {
                width: 145% !important;
                height: auto !important;
                margin-bottom: 7vw !important;
            }

            .imagemNoticia {
                width: 100% !important;
                height: 50vw !important;
            }

            .zonaTextoNoticia {
                width: 100% !important;
                height: auto !important;

            }

            .postadoNoticia {
                font-size: 4vw !important;
                margin-left: 1vw !important;
                margin-right: 1vw !important;
            }

            .tituloNoticia {
                font-size: 6vw !important;
                line-height: 8vw !important;
                margin-left: 1vw !important;
                margin-right: 1vw !important;
            }

            .textoNoticia {
                font-size: 4.5vw !important;
                line-height: 8vw !important;
                margin-left: 1vw !important;
                margin-right: 1vw !important;
            }

            .mostrarMais {
                font-size: 6vw !important;
            }

            /*eventos*/
            .eventos {
                font-size: 10vw !important;
            }

            .contentorDosEventos {
                width: 55% !important;
                /* height: auto !important;*/

            }

            .contentorEvento {
                width: 145% !important;
                height: auto !important;
                margin-bottom: 7vw !important;
            }

            .zonaTextoEvento {
                float: left !important;
                width: 100% !important;
                height: auto !important;
            }

            .imagemEventos {
                float: left !important;
                width: 100% !important;
                height: 40vh !important;
                margin-top: 5% !important;
            }

            .proximoEvento {
                font-size: 4vw !important;
                margin-left: 1vw !important;
                margin-right: 1vw !important;
                margin-top: 3% !important;
            }

            .dataEvento {
                font-size: 8vw !important;
                margin-left: 1vw !important;
                margin-right: 1vw !important;
                margin-top: 3% !important;
            }

            .horasEvento {
                font-size: 6vw !important;
                margin-left: 1vw !important;
                margin-right: 1vw !important;
                margin-top: 3% !important;
            }

            .localEvento {
                font-size: 6vw !important;
                margin-left: 1vw !important;
                margin-right: 1vw !important;
                margin-top: 3% !important;
            }

            .tituloEvento {
                font-size: 8vw !important;
                margin-left: 1vw !important;
                margin-right: 1vw !important;
                margin-top: 6% !important;
            }

            .descricaoEvento {
                font-size: 6vw !important;
                margin-left: 1vw !important;
                margin-right: 1vw !important;
                margin-top: 3% !important;
            }

            /*galeria*/

            .galeria {
                font-size: 10vw !important;
            }

            .introGaleria {
                font-size: 6vw !important;
                line-height: 8vw !important;
                width: 100% !important;
                margin-bottom: 20% !important;
            }

            .btn_galeria {
                width: 45vw !important;
                height: 13vw !important;
                font-size: 4.5vw !important;
                margin-left: 0% !important;
                margin-top: -4% !important;
                margin-bottom: 16%;
            }

            /*publicaçoes*/
            .publicacoes {
                font-size: 10vw !important;
            }

            .contentorDasPublicacoes {
                width: 55% !important;
                /* height: auto !important;*/

            }

            .tituloPublicacao {
                font-size: 6vw !important;
                line-height: 8vw !important;
                width: 150% !important;
                margin-bottom: 20% !important;
            }

            .contentorPublicacoes {
                width: 145% !important;
                height: auto !important;
                margin-bottom: 7vw !important;
            }

            .divSeccao {
                margin-bottom: 10vw !important;
            }

            .tituloSeccao {
                font-size: 6vw !important;
                line-height: 13vw !important;
                width: 100% !important;
                letter-spacing: 0.3vw !important;
            }

            .zonaPublicacoes {
                font-size: 5vw !important;
            }

            /*FORUM ABERTO*/
            .forum .topo h1 {
                margin-top: 20% !important;
                font-size: 11vw !important;
                line-height: normal;
            }

            .forum .topo p {
                width: 80% !important;
                font-size: 5vw !important;
                line-height: normal !important;
                margin-top: 10% !important;
                margin-bottom: 20% !important;
            }

            .tituloTopico {
                font-size: 6vw !important;
                margin-bottom: 2%;
            }

            .topicoNrRespostasAberto {
                font-size: 5vw !important;
            }

            .div_Respostas {
                margin-top: 25% !important;
            }

            .dataResposta {
                font-size: 5.5vw !important;
                margin-right: 5vw !important;
                margin-bottom: 6%;
            }

            .textoResposta {
                font-size: 5vw !important;
                margin-left: 3vw !important;
                margin-right: 3vw !important;
            }

            .quemRespondeu {
                margin-top: 6% !important;
                font-size: 5vw !important;
                margin-left: 3vw !important;
                margin-right: 3vw !important;
            }

            .zonaMudançaTopicos {
                margin-top: 8%; !important;
            }

            .linkVoltarLista {
                font-size: 3vw !important;
            }

            .linkProximoTopico {
                font-size: 3vw !important;
            }

            /*FIM FORUM ABERTO*/
            /*FORUM INDEX*/
            .div_topico {
                margin-bottom: 7% !important;
            }

            .btn_novoTopico {
                width: 45vw !important;
                height: 13vw !important;
                font-size: 4.5vw !important;
                float: left !important;
                margin-left: 5% !important;
                margin-top: 5% !important;
            }

            .search_bar {
                margin-top: 10% !important;
                width: 30% !important;
                margin-left: 5% !important;
            }

            .forum .div_topico .tag {
                padding: 2% !important;
            }

            .forum .div_topico .tag img {
                width: 3vw !important;
            }

            .forum .div_topico .tag a {
                font-size: 3vw !important;
            }

            .zonaNrRespostas {
                float: left !important;
            }

            .topicoNrRespostas {
                font-size: 5vw !important;
            }

            .textoTopicos {
                margin-top: 25% !important;
                font-size: 7vw !important;
                line-height: 10vw !important;
            }

            .textoDiaHora {
                font-size: 5vw !important;
            }

            .topicoAtivo {
                font-size: 5vw !important;
            }

            .topicoFechado {
                font-size: 5vw !important;
            }

            .zonaMudançaPaginas {
                margin-left: 10% !important;
                padding-bottom: 3% !important;
                padding-top: 3% !important;
            }

            .zonaMudançaPaginas a {
                padding: 1vw 2.5vw !important;
                margin: 0 0.5vw !important;
                font-size: 3vw !important;
                font-weight: 800;
            }

            /*FIM FORUM INDEX*/

            /*FORUM NOVO TOPICO*/

            .novoTopico{
                font-size: 5vw !important;
            }
            
            .textoTituloNovoTopico{
                font-size: 4vw !important;

            }

            .div_tituloNovoTopico{
                margin-bottom: 8% !important;
            }

            .textoEscolha{
                font-size: 5vw !important;
            }

            .div_escolhaAlimentacao{
                width: 70vw !important;
                margin-bottom: 8% !important;
                margin-top: 3% !important;
            }

            .div_escolhaConsumos{
                width: 70vw !important;
                display: block !important;
                margin-bottom: 8% !important;
            }


            .div_escolhaSexualidade{
                width: 70vw !important;

                display: block !important;
                margin-bottom: 8% !important;
            }

            .round label{
                width: 5vw !important;
                height: 5vw !important;
            }

            .div_descricaoNovoTopico{
                width: 74vw !important;
            }

            .textoDescricao{
                font-size: 5vw !important;
            }


            .div_postarCancelar{
                width: 56vw !important;
                margin-top: 6vw !important;
                margin-left: 9% !important;
                display: block !important;
                float: left !important;
            }

            .cancelar{
                margin-top: 3% !important;
                font-size: 5vw !important;
            }

            .btn_postar{
                width: 30vw !important;
                height: 10vw !important;
                font-size: 5vw !important;
            }


            /*FIM FORUM NOVO TOPICO*/

        }
