/* PARTES EM COMUM */
    /*GERAL*/
        a {
            text-decoration: none;
        }
        * {
            font-family: "Raleway Medium";
        }

        .clear{
            clear: both;
        }

    /*Botões*/
        .carregarMais {
            width: 15%;
            padding-top: 2%;
            padding-bottom: 2%;
            padding-left: 1%;
            padding-right: 1%;
            border-radius: 6px;
            box-shadow: 0 2px 4px 0 rgba(3,44,72,0.09);
            color: #FFF;
            font-family: "Raleway Bold";
            font-size: 1.334vw;
            font-weight: 900;
            line-height: 1.556vw;
            text-align: center;
            margin: 0 auto;
            border:none;

            margin:0 auto;
            display:block!important;
            text-decoration: none;
        }

        .carregarMais a {
            cursor: pointer;
            text-decoration: none;
        }

        a.button {
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;

            text-decoration: none;
            color: initial;
        }


.imgfundo{
    position: absolute;
    height: 164%;
    width: 100%;
    background-image: url("../imagens/imgInicial.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*BLOCOS*/
    .bloco-1 {
        position: relative;
        min-height: 35%;
        margin-top: 3%;
        margin-bottom: 6%;
        z-index: 1;
    }

    .bloco-2 {
        float:right;
        width: 66%;
        min-height: 35%;
        position: relative;
        z-index: 1;
        margin-top: 3%;
        margin-bottom: 1%;
    }

    .col1 {
        width: 32%;
        float: left;
    }

    .col2 {
        width: 32%;
        float: left;
        margin-left: 2%;
        margin-right: 2%;
    }

    .col3 {
        width: 32%;
        float: left;
    }

/*FONTES*/
    @font-face{
        font-family: "Raleway ExtraBold";
        src: url("../fonts/Raleway-ExtraBold.ttf");
    }

    @font-face{
        font-family: "Raleway Bold";
        src: url("../fonts/Raleway-Bold.ttf");
    }

    @font-face{
        font-family: "Raleway Light";
        src: url("../fonts/Raleway-Light.ttf");
    }

    @font-face{
        font-family: "Raleway Medium";
        src: url("../fonts/Raleway-Medium.ttf");
    }
    @font-face{
        font-family: "Raleway SemiBold";
        src: url("../fonts/Raleway-SemiBold.ttf");
    }

    @font-face{
        font-family: "Permanent Marker";
        src: url("../fonts/PermanentMarker.ttf");
    }

/*ANIMACOES*/
    /*ARTIGOS E BOTOES*/
        .hvr-grow {
            display: inline-block;
            vertical-align: middle;
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            transition-duration: 0.3s;
            transition-property: transform;
        }

        .hvr-grow:hover,
        .hvr-grow:focus,
        .hvr-grow:active {
            transform: scale(1.1);
        }

    /*LISTAS*/
        .hvr-overline-from-left {
          display: inline-block;
          vertical-align: middle;
          -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
          box-shadow: 0 0 1px transparent;
          position: relative;
          overflow: hidden;
        }
        .hvr-overline-from-left:before {
          content: "";
          position: absolute;
          z-index: -1;
          left: 0;
          right: 100%;
          top: 0;
          height: 4px;
          -webkit-transition-property: right;
          transition-property: right;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
        }

        .hvr-overline-from-left:hover:before, .hvr-overline-from-left:focus:before, .hvr-overline-from-left:active:before {
          right: 0;
        }


/*DISPOSITIVOS MAIS PEQUENOS*/
    @media only screen and (max-width: 600px) {
        /*PAGINA TEMAS*/
            /*TITULO PRINCIPAL*/
                .paginaTema .destaquesTitulo{
                    font-size: 8vw;
                }

                .paginaTema .aqui-podes-encontrar{
                    font-size: 4vw;
                    line-height: normal;
                }

            /*POSTS E SABIAS QUE*/
                .paginaTema .post .tituloArtigo {
                    font-size: 5vw;
                    line-height: normal;
                    margin-bottom: 3%;
                }

                .paginaTema .post .textoArtigo{
                    font-size: 3.6vw;
                    line-height: normal;
                }

                .paginaTema .sabiasQue .tituloArtigo {
                    font-size: 5vw;
                    line-height: normal;
                }

                .paginaTema .sabiasQue .textoArtigo {
                    font-size: 3.6vw;
                    line-height: normal;
                }

                .conteudo .texto{
                    display: none;
                }

            /*COLS E BLOCOS*/
                .col1 {
                    width: auto;
                    float: none;
                    margin: 0 auto;
                }

                .col2 {
                    width: auto;
                    float: none;
                    margin: 0 auto;
                }
                .col3 {
                    width: auto;
                    float: none;
                    margin: 0 auto;
                }

                .bloco-1{
                    display: inline-block;
                }
                .bloco-2{
                    display: inline-block;
                    width: auto;
                    float: none;
                }

            /*GERAL*/
                .texto{
                    display: block;
                }

                .paginaTema .post .zonaTexto {
                    padding: 6%;
                }

                .carregarMais {
                    width: 30%;
                    padding-left: 10%;
                    padding-right: 10%;
                    padding-top: 5%;
                    padding-bottom: 5%;
                    font-size: 3vw;
                    line-height: normal;
                }

            /*ZONA VIDEOS*/
                #zonaDeVideos .postVideo{
                    float: none;
                    width: auto;
                }

                #zonaDeVideos .titulo {
                    width: auto;
                    font-size: 5vw;
                    line-height: normal;
                    margin-bottom: 3%;
                }

                #zonaDeVideos .postVideo{
                    margin: 0 auto;
                    margin-bottom: 3%;
                }

                #zonaDeVideos .postVideo .titulo {
                    font-size: 5vw;
                    line-height: normal;
                }

                #zonaDeVideos .postVideo .texto{
                    font-size: 3.6vw;
                    line-height: normal;
                }

            /*ZONA GLOSSARIO*/
                #zonaGlossario .descricao {
                    font-size: 3.6vw;
                    line-height: normal;
                    width: auto;
                }

                #zonaGlossario h1 {
                    font-size: 5vw;
                }

                #zonaGlossario .titulo {
                    width: auto;
                    font-size: 5vw;
                    line-height: normal;
                    margin-bottom: 3%;
                }

                #glossario .abecedario {
                    width: 10%;
                    margin-left: 2%;
                }

                #glossario .letra {
                    width: auto;
                    height: 3vw;
                    font-size: 4vw;
                }

                #glossario .definicao {
                    display: block;
                    width: auto;
                    padding: 0;
                }

                #glossario .definicao h1{
                    font-size: 3.6vw;
                    line-height: normal;
                }

                #glossario .definicao p{
                    font-size: 3vw;
                    line-height: normal;
                }

            /*ZONA DOCUMENTOS*/
                #zonaDocumentos .titulo{
                    font-size: 5vw;
                }

                #zonaDocumentos .documentos{
                    font-size: 3vw;
                    line-height: normal;
                }

                #zonaDocumentos .documentos img{
                    display: none;
                }

            /*ZONA LINKS*/
                #zonaLinks .titulo{
                    font-size: 5vw;
                }

                #zonaLinks .linkUteis{
                    font-size: 3vw;
                    line-height: normal;
                }

                #zonaLinks .linkUteis img{
                    display: none;
                }

        /*PAGINA ARTIGO*/
            .artigo .cabecalhoArtigo .detalhe{
                width: auto;
            }

            .artigo .cabecalhoArtigo .detalhe p{
                font-size: 3vw;
                line-height: normal;
            }

            .artigo .artigosRelacionados a{
                display: block;
                width: auto;
            }

            .artigo .artigosRelacionados .bloco-1 {
                width: 80%;
            }

            .artigo .artigosRelacionados .bloco-1 .zonaTexto{
                padding: 5%;
            }

            .artigo .artigosRelacionados .bloco-1 .tituloArtigo {
                font-size: 3vw;
            }

            .artigo .artigosRelacionados .bloco-1 .textoArtigo {
                font-size: 2.6vw;
            }

            .artigo .conteudo p{
                font-size: 3vw;
                line-height: 3.8vw;
                width: 90%;
            }

            .artigo cite{
                font-size: 3.6vw;
            }

        /*PAGINA DESTAQUES*/
    }