/* PARTES EM COMUM */
    /*GERAL*/
        body{
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
        }
        * {
            font-family: "Raleway Medium";

        }

        .clear{
            clear: both;
        }

        .hr {
            padding-top: 10%;
            background-image: url(../imagens/linhaSep.png);
            background-repeat: no-repeat;
            background-position: bottom;
            width: 50%;
            height: 4px;
            margin: 0 auto;
        }

    /*Botões*/
        .carregarMais {
            width: 15%;
            padding-top: 2%;
            padding-bottom: 2%;
            padding-left: 1%;
            padding-right: 1%;
            border-radius: 6px;
            box-shadow: 0 2px 4px 0 rgba(3,44,72,0.09);
            color: #FFF;
            font-family: "Raleway Bold";
            font-size: 1.334vw;
            font-weight: 900;
            line-height: 1.556vw;
            text-align: center;
            margin: 0 auto;
            border:none;

            margin:0 auto;
            display:block!important;
            text-decoration: none;
        }

        .carregarMais a {
            cursor: pointer;
            text-decoration: none;
        }

        a.button {
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;

            text-decoration: none;
            color: initial;
        }


    .imgfundo{
        position: absolute;
        height: 164%;
        width: 100%;
        background-image: url("../imagens/imgInicial.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }


    /*RODAPE*/
    #rodape {
        position: relative;
        width: 100%;
        background-color: #062940;
        padding-bottom: 8%;
    }

    #rodape #logoRodape{
        position: relative;
        width: 10.26%;
        color: #FFFFFF;
        font-family: "Permanent Marker";
        font-size: 28px;
        line-height: 41px;
        text-align: center;
        margin: 0;
        margin-top: 3.97%;
        margin-left: 5.94%;
        float: left;
    }

    #rodape #icons{
        width: 20%;
        padding-left: 6.4%;
        padding-top: 9.47%;
    }

    #rodape #icons #facebookIcon, #rodape #icons #youtubeIcon, #rodape #icons #instagramIcon{
        position: relative;
        width: 35px;
        height: 35px;
        float: left;
    }


    #rodape #icons #youtubeIcon, #rodape #icons #instagramIcon{
        padding-left: 7.13%;
    }

    #rodape .estilo{
        text-decoration: none;
        color: #17A2FF;
    }

    #rodape .menu{
        position: relative;
        width: 15%;
        font-family: "Raleway SemiBold";
        font-size: 18px;
        font-weight: 900;
        line-height: 38px;
    }

    #rodape .zonaGeral, #rodape .zonaGeral2{
        padding-left: 8%;
        margin-top: -5%;
        float: left;
    }

    #rodape .zonaGeral2{
        padding-left: 0%;
    }

    #rodape .zonaArtigos{
        position: relative;
        padding-left: 0%;
        margin-top: -5%;
        float: left;
    }

    #rodape .zonaContactos{
        position: relative;
        padding-left: 3%;
        margin-top: -5%;
        float: left;
    }

    #rodape .zonaContactos .styConta{
        position: relative;
        margin: 0;
    }

    #zonaCopyrights {
        position: relative;
        width: 100%;
        background-color: #F7FAFC;
        padding-top: 2%;
        padding-bottom: 5%;
    }

    #zonaCopyrights .copyrights{
        position: relative;
        color: #3ea2f3;
        font-family: "Raleway Medium";
        font-size: 15px;
        font-weight: bold;
        line-height: 38px;
        margin: 0;
        float: left;
        padding-left: 7.2%;
    }

    #zonaCopyrights #icParceiros{
        position: relative;
        float: right;
        width: 45%;
        margin: 0;
        padding-right: 4.9%;
    }

    #zonaCopyrights #icParceiros .parceiros{
        position: relative;
        width: 20%;
        padding-left: 4%;
    }

/*BLOCOS*/
    .bloco-1 {
        position: relative;
        min-height: 35%;
        margin-top: 3%;
        margin-bottom: 6%;
        z-index: 1;
    }

    .bloco-2 {
        float:right;
        width: 66%;
        min-height: 35%;
        position: relative;
        z-index: 1;
        margin-top: 3%;
        margin-bottom: 1%;
    }

    .col1 {
        width: 32%;
        float: left;
    }

    .col2 {
        width: 32%;
        float: left;
        margin-left: 2%;
        margin-right: 2%;
    }

    .col3 {
        width: 32%;
        float: left;
    }


/*ANIMACOES*/
    /*ARTIGOS E BOTOES*/
        .hvr-grow {
            display: inline-block;
            vertical-align: middle;
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            transition-duration: 0.3s;
            transition-property: transform;
        }

        .hvr-grow:hover,
        .hvr-grow:focus,
        .hvr-grow:active {
            transform: scale(1.1);
        }

    /*LISTAS*/
        .hvr-overline-from-left {
          display: inline-block;
          vertical-align: middle;
          -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
          box-shadow: 0 0 1px transparent;
          position: relative;
          overflow: hidden;
        }
        .hvr-overline-from-left:before {
          content: "";
          position: absolute;
          z-index: -1;
          left: 0;
          right: 100%;
          top: 0;
          height: 4px;
          -webkit-transition-property: right;
          transition-property: right;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
        }

        .hvr-overline-from-left:hover:before, .hvr-overline-from-left:focus:before, .hvr-overline-from-left:active:before {
          right: 0;
        }


/*DISPOSITIVOS MAIS PEQUENOS*/
    @media only screen and (max-width: 600px) {
        /*PAGINA TEMAS*/
            /*TITULO PRINCIPAL*/
                .paginaTema .destaquesTitulo{
                    font-size: 8vw;
                }

                .paginaTema .aqui-podes-encontrar{
                    font-size: 4vw;
                    line-height: normal;
                }

            /*POSTS E SABIAS QUE*/
                .paginaTema .post .tituloArtigo {
                    font-size: 5vw;
                    line-height: normal;
                    margin-bottom: 3%;
                }

                .paginaTema .post .textoArtigo{
                    font-size: 3.6vw;
                    line-height: normal;
                }

                .paginaTema .sabiasQue .tituloArtigo {
                    font-size: 5vw;
                    line-height: normal;
                }

                .paginaTema .sabiasQue .textoArtigo {
                    font-size: 3.6vw;
                    line-height: normal;
                }

                .conteudo .texto{
                    display: none;
                }

            /*COLS E BLOCOS*/
                .col1 {
                    width: auto;
                    float: none;
                    margin: 0 auto;
                }

                .col2 {
                    width: auto;
                    float: none;
                    margin: 0 auto;
                }
                .col3 {
                    width: auto;
                    float: none;
                    margin: 0 auto;
                }

                .bloco-1{
                    display: inline-block;
                }
                .bloco-2{
                    display: inline-block;
                    width: auto;
                    float: none;
                }

            /*GERAL*/
                .texto{
                    display: block;
                }

                .paginaTema .post .zonaTexto {
                    padding: 6%;
                }

                .carregarMais {
                    width: 30%;
                    padding-left: 10%;
                    padding-right: 10%;
                    padding-top: 5%;
                    padding-bottom: 5%;
                    font-size: 3vw;
                    line-height: normal;
                }

            /*ZONA VIDEOS*/
                #zonaDeVideos .postVideo{
                    float: none;
                    width: auto;
                }

                #zonaDeVideos .titulo {
                    width: auto;
                    font-size: 5vw;
                    line-height: normal;
                    margin-bottom: 3%;
                }

                #zonaDeVideos .postVideo{
                    margin: 0 auto;
                    margin-bottom: 3%;
                }

                #zonaDeVideos .postVideo .titulo {
                    font-size: 5vw;
                    line-height: normal;
                }

                #zonaDeVideos .postVideo .texto{
                    font-size: 3.6vw;
                    line-height: normal;
                }

            /*ZONA GLOSSARIO*/
                #zonaGlossario .descricao {
                    font-size: 3.6vw;
                    line-height: normal;
                    width: auto;
                }

                #zonaGlossario h1 {
                    font-size: 5vw;
                }

                #zonaGlossario .titulo {
                    width: auto;
                    font-size: 5vw;
                    line-height: normal;
                    margin-bottom: 3%;
                }

                #glossario .abecedario {
                    width: 10%;
                    margin-left: 2%;
                }

                #glossario .letra {
                    width: auto;
                    height: 3vw;
                    font-size: 4vw;
                }

                #glossario .definicao {
                    display: block;
                    width: auto;
                    padding: 0;
                }

                #glossario .definicao h1{
                    font-size: 3.6vw;
                    line-height: normal;
                }

                #glossario .definicao p{
                    font-size: 3vw;
                    line-height: normal;
                }

            /*ZONA DOCUMENTOS*/
                #zonaDocumentos .titulo{
                    font-size: 5vw;
                }

                #zonaDocumentos .documentos{
                    font-size: 3vw;
                    line-height: normal;
                }

                #zonaDocumentos .documentos img{
                    display: none;
                }

            /*ZONA LINKS*/
                #zonaLinks .titulo{
                    font-size: 5vw;
                }

                #zonaLinks .linkUteis{
                    font-size: 3vw;
                    line-height: normal;
                }

                #zonaLinks .linkUteis img{
                    display: none;
                }

        /*PAGINA ARTIGO*/
            .artigo .cabecalhoArtigo .detalhe{
                width: auto;
            }

            .artigo .cabecalhoArtigo .detalhe p{
                font-size: 3vw;
                line-height: normal;
            }

            .artigo .artigosRelacionados a{
                display: block;
                width: auto;
            }

            .artigo .artigosRelacionados .bloco-1 {
                width: 80%;
            }

            .artigo .artigosRelacionados .bloco-1 .zonaTexto{
                padding: 5%;
            }

            .artigo .artigosRelacionados .bloco-1 .tituloArtigo {
                font-size: 3vw;
            }

            .artigo .artigosRelacionados .bloco-1 .textoArtigo {
                font-size: 2.6vw;
            }

            .artigo .conteudo p{
                font-size: 3vw;
                line-height: 3.8vw;
                width: 90%;
            }

            .artigo cite{
                font-size: 3.6vw;
            }

        /*PAGINA DESTAQUES*/
    }

/*Zona Menu */

.rectangle-2 {
    height: 105px;
    width: 100%;
    background-color: #062940;
    position: fixed;
    top: 0;
    z-index: 90;
}

.navbar {
    position: relative;
    height: 5.5%;
    /*height: 57px;*/
    /*width: 1312px;*/
    width: 100%;
    /*margin-left: 72px;*/
    margin-top: 1.8%;
    /*margin-top: 24px;*/
    z-index: 100;
}

.logo {
    position: relative;
    height: 63.24%;
    /*height: 40px;
    width: 119px;*/
    width: 9.26%;
    color: #FFFFFF;
    font-family: "Permanent Marker";
    font-size: 175%;
    /*font-size: 28px;*/
    line-height: 145%;
    /*line-height: 41px;*/
    text-align: center;
    margin-top: 0.65%;
    /*margin-top: 9px;*/
    float: left;
    /*margin-left: 72px;*/
    margin-left: 5.35%;
    text-decoration: none;
}

#topicosMenu{
    position: relative;
    /*height: 21px;
    width: 485px;*/
    width: 80%;
    height: 4000%;
    color: #FFFFFF;
    font-family: "Raleway SemiBold";
    font-size: 100%;
    letter-spacing: 1px;
    /*font-size: 18px;*/
    font-weight: 900;
    /*line-height: 21px;*/
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    float: right !important;
    margin-right: 2.78% !important;
}

#topicosMenu li{
    position: relative;
    float: right;
}

#topicosMenu a{
    text-decoration: none;
    color: #FFFFFF;
}

#topicosMenu .destaques {
    width: 101px;
    margin-right: 2%
}

#topicosMenu .temas {
    width: 61px;
    margin-right: 1.5%
}

#topicosMenu .sobre {
    width: 91px;
    margin-right: 0%;
}

#topicosMenu .parceiros {
    width: 100px;
    margin-right: 1%
}

#topicosMenu .divulgacao {
    width: 100px;
    margin-right: 0%
    /*margin-left: 384px;*/
}


.setaTemasMenu{
    background-color: transparent;
    background-image: url("../imagens/arrowmenu_mod.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    border: none;
    top: 25%;
    right: -30%;
    width: 12px;
    height: 12px;
    cursor: pointer;
    z-index: 100;
    outline: none;
}

/*DropDown menu*/

.dropdown {
    float: left;
    overflow: hidden;

}

.submenus {
    display: none;
    position: absolute;
    margin-top: 29%;
    margin-right: 50%;
    background-color: #F7FAFC;
    min-width: 30%;
    z-index: 1005;
    border-radius: 6px;

}


.dropdown:hover .submenus {
    display: block;

}

.submenus a {
    float: none;
    padding: 12px 30px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #032133;
    font-family: "Raleway SemiBold";
    font-size: 12px;
    font-weight: 600;
}

.submenus a:hover{
    background-color: #DBF0FD;
    border-radius: 8%;
}


/**/


#forum {
    position: relative;
    height: 57px;
    /*height: 100%;*/
    /*width: 108px;*/
    width: 8%;
    border: none;
    border-radius: 8px;
    background-color: #0A81D1;
    box-shadow: 0 2px 4px 0 rgba(3,44,72,0.09);
    color: #FFFFFF;
    font-family: "Raleway Medium";
    /*font-size: 18px;*/
    font-size: 113%;
    font-weight: 900;
    /*line-height: 21px;*/
    text-align: center;
    float: right;
    margin-right: 4.39%;
    cursor: pointer;
}

/*Responsive*/

.forumMenu{
    display:none;
}

#sidebar{
    display: none;
}
a { color: inherit; }
@media screen and (max-width: 900px) {
    .navbar {
        position: relative;
        display: inline-block;

    }

    .navbar ul {
        display: none;
    }

    #forum {
        display: none;
    }

    .forumMenu{
        position: relative;
        display: inline-block;
        margin-left: 10%;
    }

    #menuSlide{
        display: block;
        color: #0A81D1;
        margin-left: -20%;
    }

    #sidebar {
        display: block;
        position:relative;
        top:0px;
        right:0px;
        float: right;
        width:200px;
        background: #F7FAFC;
        text-align:center;
        transform-origin:right;
        transform:perspective(1200px) rotateY(90deg);
        transition:all 400ms ease;
        border-radius: 3%;
    }

    #sidebar li:hover{
        background-color: #DBF0FD;
        border-radius: 8%;
    }

    #sidebar ul li {
        color:#032133;
        font-size:15px;
        width:100%;
        line-height:50px;
        text-decoration: none;
        float: left;
        position: relative;
        list-style-type: none;
        cursor:pointer;
    }

    #sidebar ul ul{
        display: none;
        position: relative;
        padding-left:0;
        margin-right: 250px;
        width: 100%;
        border-bottom: none;
        text-decoration: none;
        list-style-type: none;
        cursor:pointer;
    }

    /*#sidebar ul li:hover> ul{
        display: block;
    }*/


    #sidebar ul ul li:hover{
        background-color: #032133;
        border-radius: 8%;
        color: #F7FAFC;

    }

    #sidebar.active {
        transform:perspective(1200px) rotateY(0deg);
    }

    #botao_menuLateral {
        position:absolute;
        right:30px;
        top:20px;
        transition:right 200ms linear 0ms,transform 300ms ease 100ms;
    }
    #botao_menuLateral.active {
        right:230px;
        transform:rotate(360deg);
    }
    #botao_menuLateral span {
        position:relative;
        top:0px;
        display:block;
        background: #ffffff;
        width:30px;
        height:5px;
        margin:5px 0px;
        cursor:pointer;
        transition:transform 300ms ease 200ms;
    }
    #botao_menuLateral.active span:nth-child(1) {
        top:10px;
        transform:rotate(45deg);
    }
    #botao_menuLateral.active span:nth-child(2) {
        opacity:0;
    }
    #botao_menuLateral.active span:nth-child(3) {
        top:-10px;
        transform:rotate(-45deg);
    }
    
    #clear{
        clear: both;
    }

    .logo{
        margin-top: 2%;
    }
}

@media screen and (max-width: 550px) {

    #sidebar{
        width: 130px;
    }

    #sidebar ul li {
        font-size: 13px;
    }

    #botao_menuLateral.active {
        top:30px ;
        right:140px;
    }

    #menuSlide{
        margin-left: -30.5%;
    }

    #botao_menuLateral span {
        width:23px;
    }

    .logo{
        margin-top: 6%;
    }

}


/*Fim Responsive*/

/*Fim Menu */


/*FONTES*/
@font-face{
    font-family: "Raleway ExtraBold";
    src: url("../fonts/Raleway-ExtraBold.ttf");
}

@font-face{
    font-family: "Raleway Bold";
    src: url("../fonts/Raleway-Bold.ttf");
}

@font-face{
    font-family: "Raleway Light";
    src: url("../fonts/Raleway-Light.ttf");
}

@font-face{
    font-family: "Raleway Medium";
    src: url("../fonts/Raleway-Medium.ttf");
}
@font-face{
    font-family: "Raleway SemiBold";
    src: url("../fonts/Raleway-SemiBold.ttf");
}

@font-face{
    font-family: "Permanent Marker";
    src: url("../fonts/PermanentMarker.ttf");
}
        }
