/* PARTES EM COMUM */
    /*GERAL*/
        body{
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
        }
        * {
            font-family: "Raleway Medium";
        }

        .clear{
            clear: both;
        }

        .hr {
            padding-top: 10%;
            background-image: url(../imagens/linhaSep.png);
            background-repeat: no-repeat;
            background-position: bottom;
            width: 50%;
            height: 4px;
            margin: 0 auto;
        }

    /*Botões*/
        .carregarMais {
            width: 15%;
            padding-top: 2%;
            padding-bottom: 2%;
            padding-left: 1%;
            padding-right: 1%;
            border-radius: 6px;
            box-shadow: 0 2px 4px 0 rgba(3,44,72,0.09);
            color: #FFF;
            font-family: "Raleway Bold";
            font-size: 1.334vw;
            font-weight: 900;
            line-height: 1.556vw;
            text-align: center;
            margin: 0 auto;
            border:none;

            margin:0 auto;
            display:block!important;
            text-decoration: none;
        }

        .carregarMais a {
            cursor: pointer;
            text-decoration: none;
        }

        a.button {
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;

            text-decoration: none;
            color: initial;
        }

    /*MENU*/
        .rectangle-2 {
            height: 105px;
            width: 100%;
            background-color: #062940;
            position: fixed;
            top: 0;
            z-index: 90;

        }

        .index .rectangle-2{
            background-color: transparent;
            position: absolute;
        }

        .navbar {
            position: relative;
            height: 5.5%;
            width: 100%;
            margin-top: 1.8%;
            z-index: 100;
        }

        .logo {
            position: relative;
            height: 63.24%;
            width: 9.26%;
            color: #FFFFFF;
            font-family: "Permanent Marker";
            font-size: 175%;
            line-height: 145%;
            text-align: center;
            margin-top: 0.55%;
            float: left;
            margin-left: 5.35%;
            text-decoration: none;
            cursor: pointer;
        }

        #topicosMenu{
            position: relative;
            width: 80%;
            height: 4000%;
            color: #FFFFFF;
            font-family: "Raleway SemiBold";
            font-size: 100%;
            letter-spacing: 1px;
            font-weight: 900;
            text-align: center;
            list-style-type: none;
            overflow: hidden;
            float: right !important;
            margin-right: 2.78% !important;
            margin-top: 0.5%;
        }

        #topicosMenu li{
            position: relative;
            float: right;
        }

        #topicosMenu a{
            text-decoration: none;
            color: #FFFFFF;
        }

        #topicosMenu .destaques {
            width: 101px;
            margin-right: 2%
        }

        #topicosMenu .temas {
            width: 61px;
            height: 15%;
            margin-right: 1.5%;
        }

        #topicosMenu .sobre {
            width: 91px;
            margin-right: 0%;
        }

        #topicosMenu .parceiros {
            width: 100px;
            margin-right: 1%
        }

        #topicosMenu .divulgacao {
            width: 100px;
            margin-right: 0%
        }


        .setaTemasMenu{
            background-color: transparent;
            background-image: url("../imagens/arrowmenu_mod.png");
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            border: none;
            top: 10%;
            right: -30%;
            width: 12px;
            height: 12px;
            cursor: pointer;
            z-index: 100;
            outline: none;
        }

        #setaTemasSideMenu{
             background-color: transparent;
             background-image: url("../imagens/arrowmenu_mod2.png");
            background-size: contain;
            background-repeat: no-repeat;
            position: fixed;
            border: none;
            top: 90.5%;
            right: 21%;
            width: 12px;
            height: 12px;
            cursor: pointer;
            z-index: 100;
            outline: none;
}

        /*DropDown menu*/

            .dropdown {
                float: left;
                overflow: hidden;

            }

            .submenus {
                display: none;
                position: absolute;
                margin-top: 50%;
                margin-right: 50%;
                background-color: #F7FAFC;
                min-width: 50%;
                z-index: 1005;
                border-radius: 6px;

            }

        .submenus :before {
            content:"";
            position: absolute;
            right: 45%;
            top: -10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent #F7FAFC transparent;
            z-index:9999;
            }


            #topicosMenu .temas:hover .submenus {
                display: block;

            }

            .dropdown:hover .submenus {
             display: block;

            }

            .submenus a {
                float: none;
                padding: 12px 30px;
                text-decoration: none;
                display: block;
                text-align: left;
                color: #032133;
                font-family: "Raleway SemiBold";
                font-size: 12px;
                font-weight: 600;
            }

            .submenus a:hover{
                background-color: #DBF0FD;
                border-radius: 8%;
            }

        #forum {
            position: relative;
            height: 57px;
            width: 8%;
            border: none;
            border-radius: 8px;
            background-color: #0A81D1;
            box-shadow: 0 2px 4px 0 rgba(3,44,72,0.09);
            color: #FFFFFF;
            font-family: "Raleway Medium";
            font-size: 113%;
            font-weight: 900;
            text-align: center;
            float: right;
            margin-right: 4.39%;
            cursor: pointer;
        }

        /*Responsive*/

            .forumMenu{
                display:none;
            }

            #sidebar{
                display: none;
            }
            a { color: inherit; }
        
    /*RODAPE*/
        #rodape {
            position: relative;
            width: 100%;
            background-color: #062940;
            padding-bottom: 8%;
        }

        #rodape #logoRodape{
            position: relative;
            width: 10.26%;
            color: #FFFFFF;
            font-family: "Permanent Marker";
            font-size: 2vw;
            line-height: 3vw;
            text-align: center;
            margin: 0;
            margin-top: 3.97%;
            margin-left: 5.94%;
            float: left;
        }

        #rodape #icons{
            width: 20%;
            padding-left: 6.1%;
            padding-top: 9.47%;
        }

        #rodape #icons #facebookIcon, #rodape #icons #youtubeIcon, #rodape #icons #instagramIcon{
            position: relative;
            width: 3vw;
            height: 3vw;
            float: left;
        }


        #rodape #icons #youtubeIcon, #rodape #icons #instagramIcon{
            padding-left: 7.13%;
        }

        #rodape .estilo{
            text-decoration: none;
            color: #17A2FF;
        }

        #rodape .menu{
            position: relative;
            width: 15%;
            font-family: "Raleway SemiBold";
            font-size: 1.5vw;
            font-weight: 900;
            line-height: 2.6vw;
        }

        #rodape .zonaGeral, #rodape .zonaGeral2{
            padding-left: 8%;
            margin-top: -5%;
            float: left;
        }

        #rodape .zonaGeral2{
            padding-left: 0%;
        }

        #rodape .zonaArtigos{
            position: relative;
            padding-left: 0%;
            margin-top: -5%;
            float: left;
        }

        #rodape .zonaContactos{
            position: relative;
            padding-left: 3%;
            margin-top: -5%;
            float: left;
        }

        #rodape .zonaContactos .styConta{
            position: relative;
            margin: 0;
        }

        #zonaCopyrights {
            position: relative;
            width: 100%;
            background-color: #F7FAFC;
            padding-top: 2%;
            padding-bottom: 5%;
        }

        #zonaCopyrights .copyrights{
            position: relative;
            color: #3ea2f3;
            font-family: "Raleway Medium";
            font-size: 1.2vw;
            font-weight: bold;
            line-height: 3vw;
            margin: 0;
            float: left;
            padding-left: 7.2%;
        }

        #zonaCopyrights #icParceiros{
            position: relative;
            float: right;
            width: 45%;
            margin: 0;
            padding-right: 4.9%;
        }

        #zonaCopyrights #icParceiros .parceiros{
            position: relative;
            width: 20%;
            padding-left: 4%;
        }

/*BLOCOS*/
    .bloco-1 {
        position: relative;
        min-height: 35%;
        margin-top: 3%;
        margin-bottom: 6%;
        z-index: 1;
    }

    .bloco-2 {
        float:right;
        width: 66%;
        min-height: 35%;
        position: relative;
        z-index: 1;
        margin-top: 3%;
        margin-bottom: 1%;
    }

    .col1 {
        width: 32%;
        float: left;
    }

    .col2 {
        width: 32%;
        float: left;
        margin-left: 2%;
        margin-right: 2%;
    }

    .col3 {
        width: 32%;
        float: left;
    }

/*FONTES*/
    @font-face{
        font-family: "Raleway ExtraBold";
        src: url("../fonts/Raleway-ExtraBold.ttf");
    }

    @font-face{
        font-family: "Raleway Bold";
        src: url("../fonts/Raleway-Bold.ttf");
    }

    @font-face{
        font-family: "Raleway SemiBold";
        src: url("../fonts/Raleway-SemiBold.ttf");
    }

    @font-face{
        font-family: "Raleway Light";
        src: url("../fonts/Raleway-Light.ttf");
    }

    @font-face{
        font-family: "Raleway Medium";
        src: url("../fonts/Raleway-Medium.ttf");
    }
    
    @font-face{
        font-family: "Permanent Marker";
        src: url("../fonts/PermanentMarker.ttf");
    }

    @font-face{
        font-family: "DroidSerif Bold";
        src: url("../fonts/DroidSerif-Bold.ttf");
    }

    @font-face{
        font-family: "DroidSerif";
        src: url("../fonts/DroidSerif.ttf");
    }

/*ANIMACOES*/
    /*ARTIGOS E BOTOES*/
        .hvr-grow {
            display: inline-block;
            vertical-align: middle;
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            transition-duration: 0.3s;
            transition-property: transform;
        }

        .hvr-grow:hover,
        .hvr-grow:focus,
        .hvr-grow:active {
            transform: scale(1.1);
        }

    /*LISTAS*/
        .hvr-overline-from-left {
          display: inline-block;
          vertical-align: middle;
          -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
          box-shadow: 0 0 1px transparent;
          position: relative;
          overflow: hidden;
        }
        .hvr-overline-from-left:before {
          content: "";
          position: absolute;
          z-index: -1;
          left: 0;
          right: 100%;
          top: 0;
          height: 4px;
          -webkit-transition-property: right;
          transition-property: right;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
        }

        .hvr-overline-from-left:hover:before, .hvr-overline-from-left:focus:before, .hvr-overline-from-left:active:before {
          right: 0;

        }